<!-- eslint-disable @typescript-eslint/no-explicit-any -->
<template>
  <gmap-map
    width="400"
    ref="mapRef"
    :center="center"
    :zoom="10"
    :options="mapOptions"
    :class="{ small: changeHeight }"
  >
    <gmap-cluster :zoomOnClick="true" :styles="clusterStyles">
      <Directions
        v-if="directions"
        travelmode="DRIVING"
        :origin="this.center"
        :destination="directionInfo ? directionInfo.position : null"
        :map="map"
      />
      <gmap-marker
        class="marker"
        :key="index"
        v-for="(m, index) in markers"
        :icon="m.icon"
        :position="m.position"
        @click="markerClick(m)"
      >
      </gmap-marker>
    </gmap-cluster>
  </gmap-map>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import GmapCluster from "vue2-google-maps/dist/components/cluster";
import Directions from "@/components/directions-renderer/directions.vue";
import * as VueGoogleMaps from "vue2-google-maps";

@Component({
  components: {
    GmapCluster,
    Directions,
  },
})
export default class GoogleMaps extends Vue {
  producer: any = {};
  map: any = {};
  infoWindow: any = {};
  @Prop({ default: false, type: Boolean }) directions!: boolean;
  @Prop() markers: any;
  @Prop() info: any;
  @Prop() center: any;
  @Prop({ default: false, type: Boolean })
  changeHeight!: boolean;

  @Watch("infoWindow")
  checkDestinationChange() {
    console.log("changed", this.infoWindow);
  }

  get google(): any {
    return VueGoogleMaps.gmapApi();
  }

  get directionInfo(): any {
    return this.infoWindow;
  }

  get mapMarker(): any {
    return {
      url: require("../../../public/img/pin-1.png"),
      size: { width: 40, height: 60, f: "px", b: "px" },
      scaledSize: { width: 40, height: 60, f: "px", b: "px" },
    };
  }

  get clusterStyles(): unknown {
    return [
      {
        height: 40,
        width: 40,
        url: require("../../../public/img/cluster-2.png"),
      },
      {
        height: 40,
        width: 40,
        url: require("../../assets/cluster-3.png"),
      },
    ];
  }

  get mapOptions(): { options: unknown; styles: unknown } {
    return {
      options: {
        streetViewControl: false,
        mapTypeControl: false,
        fullscreenControl: false,
        scaleControl: false,
      },
      ...this.mapStyle,
    };
  }

  get mapStyle(): { styles: unknown } {
    return {
      styles: [
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [
            {
              color: "#e9e9e9",
            },
            {
              lightness: 17,
            },
          ],
        },
        {
          featureType: "landscape",
          elementType: "geometry",
          stylers: [
            {
              color: "#f5f5f5",
            },
            {
              lightness: 20,
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.fill",
          stylers: [
            {
              color: "#ffffff",
            },
            {
              lightness: 17,
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [
            {
              color: "#ffffff",
            },
            {
              lightness: 29,
            },
            {
              weight: 0.2,
            },
          ],
        },
        {
          featureType: "road.arterial",
          elementType: "geometry",
          stylers: [
            {
              color: "#ffffff",
            },
            {
              lightness: 18,
            },
          ],
        },
        {
          featureType: "road.local",
          elementType: "geometry",
          stylers: [
            {
              color: "#ffffff",
            },
            {
              lightness: 16,
            },
          ],
        },
        {
          featureType: "poi",
          elementType: "geometry",
          stylers: [
            {
              color: "#f5f5f5",
            },
            {
              lightness: 21,
            },
          ],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [
            {
              color: "#dedede",
            },
            {
              lightness: 21,
            },
          ],
        },
        {
          elementType: "labels.text.stroke",
          stylers: [
            {
              visibility: "on",
            },
            {
              color: "#ffffff",
            },
            {
              lightness: 16,
            },
          ],
        },
        {
          elementType: "labels.text.fill",
          stylers: [
            {
              saturation: 36,
            },
            {
              color: "#333333",
            },
            {
              lightness: 40,
            },
          ],
        },
        {
          elementType: "labels.icon",
          stylers: [
            {
              visibility: "off",
            },
          ],
        },
        {
          featureType: "transit",
          elementType: "geometry",
          stylers: [
            {
              color: "#f2f2f2",
            },
            {
              lightness: 19,
            },
          ],
        },
        {
          featureType: "administrative",
          elementType: "geometry.fill",
          stylers: [
            {
              color: "#fefefe",
            },
            {
              lightness: 20,
            },
          ],
        },
        {
          featureType: "administrative",
          elementType: "geometry.stroke",
          stylers: [
            {
              color: "#fefefe",
            },
            {
              lightness: 17,
            },
            {
              weight: 1.2,
            },
          ],
        },
      ],
    };
  }

  markerClick(item: {
    description: string;
    companyName: string;
    position: { lat: number; lng: number };
  }): void {
    const directionDisplay = new this.google.maps.DirectionsRenderer();
    this.infoWindow = item;
    directionDisplay.setMap(null);
    this.$emit("showWindowInfo", item);
  }

  // geolocate(): void {
  //   navigator.geolocation.getCurrentPosition((position) => {
  //     this.center = {
  //       lat: position.coords.latitude,
  //       lng: position.coords.longitude,
  //     };
  //   });
  // }

  mounted(): void {
    console.log(this.markers);
    this.map = this.$refs.mapRef;
  }
}
</script>
<style lang="scss">
.vue-map-container {
  height: 700px;
  &.small {
    height: 400px;
  }
}

.cluster {
  clip-path: circle(50%);
  position: relative;
  // border: 1px solid red;
  border-radius: 50%;
  img {
    position: absolute;
    top: -10px !important;
    left: -20px !important;
    clip: unset !important;
  }
}
</style>
