<template>
  <v-container class="c-recipe-list">
    <!-- <div v-for="(recipe, index) in $store.state.recipes" :key="index">
      {{ recipe.strMeal }}
    </div> -->
    <v-card class="pa-4">
      <h1>Recipes</h1>
      <v-card-title>{{ $store.state.recipe.recipe }} </v-card-title>
      <div class="c-recipe-list__ingredients">
        <v-card-subtitle>
          Ingredients:
          <ul
            v-for="(ingredient, index) in $store.state.recipe.ingredients"
            :key="index"
            class="pl-0"
          >
            <li>{{ ingredient }}</li>
          </ul>
        </v-card-subtitle>
        <v-card-subtitle class="c-recipe-list__measures">
          Measures:
          <ul
            v-for="(measure, index) in $store.state.recipe.measures"
            :key="index"
            class="pl-0"
          >
            <li>{{ measure }}</li>
          </ul>
        </v-card-subtitle>
      </div>
      <v-card-text>
        {{ $store.state.recipe.instructions }}
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({
  metaInfo: {
    title: "Lovely Larder - Daily Recipe",
  },
})
export default class RecipesList extends Vue {}
</script>
<style lang="scss" scoped>
.c-recipe-list {
  ul {
    list-style-type: none;
  }
  &__ingredients {
    display: flex;
  }
  &__measures {
    padding: 16px 0;
  }
}
</style>
