<template>
  <div class="c-recipes pa-4 my-4">
    <h6 class="text-h6">
      Meal inspiration -
      <span v-if="randomRecipe">{{ randomRecipe.recipe }}</span>
    </h6>
    <p class="c-recipes__inspiration--text mb-0">
      For some ideas on what to eat today have a look at our suggested recipe
      <span v-if="findProducers.length"
        >and possible supplier you might be able to purchase some of the
        ingredients from</span
      >.
    </p>
    <v-btn color="#e3ae51" to="/recipes" class="mt-4 mb-4 black--text"
      >See Recipe</v-btn
    >
    <div
      v-for="(producer, index) in findProducers.slice(0, 1)"
      :key="index"
      class="mt-2"
    >
      <producer-list-container size="small" :producer="producer" />
    </div>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import ProducerListContainer from "@/components/producers-list/producers-list.vue";

@Component({
  components: {
    ProducerListContainer,
  },
})
export default class Recipes extends Vue {
  @Prop({ default: "", type: String }) category;

  recipes: any = null;

  // get categoryToUse(): string {
  //   return this.category;
  // }

  // @Watch("category")
  // fetchingRecipe(): void {
  //   let category = "";
  //   if (this.category === "meat") {
  //     const randomiseMeat = ["beef", "lamb", "pork", "goat"];
  //     const randomIndex = Math.floor(Math.random() * randomiseMeat.length);
  //     category = randomiseMeat[randomIndex];
  //   }
  //   if (this.category === "poultry") {
  //     category = "chicken";
  //   }
  //   if (this.category === "vegetables") {
  //     console.log("vegetables");
  //     category = "vegetarian";
  //   }
  //   this.category = category;
  //   this.$store.dispatch("getRecipes", "");
  // }

  get randomRecipe(): { recipe: string; ingredients: string[] } {
    const randomRecipe = Math.floor(
      Math.random() * this.$store.state.recipes.length
    );
    this.$store.commit("SET_RECIPE", this.$store.state.recipes[randomRecipe]);
    return this.$store.state.recipes[randomRecipe];
  }

  get findProducers(): void {
    const ingredients = this.randomRecipe?.ingredients.map((ingredient) =>
      ingredient.toLowerCase()
    );

    const suggestedProducers: any = [];

    this.$store.state.producers.forEach((element) => {
      element.tags?.forEach((tag) => {
        ingredients?.map((ingredient) => {
          if (ingredient.includes(tag)) {
            suggestedProducers.push(element);
          }
        });
      });
    });

    return suggestedProducers;

    // create tags key value pair within producers object
    // add this to database and for the moment only add one string in an array
    // eg: ["beef"]
  }

  created(): void {
    // try {
    //   axios
    //     .get(`https://www.themealdb.com/api/json/v2/9973533/list.php?c=list`)
    //     .then((response) => {
    //       console.log(response);
    //     });
    // } catch (error) {
    //   console.error(error);
    // }
    if (!this.$store.state.recipes.length) {
      this.$store.dispatch("getRecipes", "");
    }
  }
}
</script>
<style lang="scss" scoped>
.c-recipes {
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;

  &__inspiration {
    &--text {
      max-width: 550px;
    }
  }
}
</style>
