<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12">
        <v-text-field
          v-model="name"
          label="First Name"
          :counter="20"
          required
          clearable
        ></v-text-field>
        <v-text-field
          v-model="review"
          :counter="50"
          label="Review"
          required
          clearable
        ></v-text-field>
        <v-rating
          empty-icon="mdi-star-outline"
          full-icon="mdi-star"
          half-icon="mdi-star-half-full"
          hover
          length="5"
          size="20"
          v-model="rating"
          @input="updateRating($event)"
        ></v-rating>
        <v-btn class="mr-4 mt-4 mb-4" @click="submit">Submit</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class AddReview extends Vue {
  reviews: Array<{
    author: string;
    companyName: string;
    date: string;
    rating: number;
    review: string;
  }> = [];

  rating = 0;
  expansionPanel = [{ name: "Review Panel" }];
  name = "";
  review = "";
  endpoint = "https://us-central1-squid-inc-8a115.cloudfunctions.net/graphql";

  @Prop() companyName: string | undefined;

  get producerName(): string | undefined {
    return this.companyName;
  }

  get currentDateStamp(): string {
    const currentdate = new Date();
    const datetime =
      "Reviewed: " +
      currentdate.getDate() +
      "/" +
      (currentdate.getMonth() + 1) +
      "/" +
      currentdate.getFullYear() +
      " @ " +
      currentdate.getHours() +
      ":" +
      currentdate.getMinutes() +
      ":" +
      currentdate.getSeconds();
    return datetime;
  }

  updateRating(value: number): void {
    this.rating = value;
  }

  async submit(): Promise<void> {
    const itemToPass = {
      rating: this.rating,
      author: this.name,
      review: this.review,
      companyName: this.producerName,
      date: this.currentDateStamp,
    };

    this.name = "";
    this.review = "";

    const response = await fetch(this.endpoint, {
      method: "POST",
      headers: { "content-type": "application/json" },
      body: JSON.stringify({
        query: `mutation($companyName: String, $rating: Int, $author: String, $review: String, $date: String) {
          createReview(companyName: $companyName, rating: $rating, author: $author, review: $review, date: $date)
        }`,
        variables: itemToPass,
      }),
    });
    const responseBody = await response.json();
    return responseBody.data;


  }
}
</script>
