<template>
  <div>{{ time }}</div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import dayjs from "dayjs";

@Component({})
export default class MemberCountdown extends Vue {
  date = "";

  get time(): any {
    return this.date;
  }
  /**
   * Props
   **/

  /**
   * Data
   **/

  /**
   * Computed Properties
   **/

  // store state and getters

  // other computed properties

  /**
   * Methods
   **/

  // store mutations and actions

  // other methods

  // lifecycle methods
  created(): void {
    console.log(this.date);
    setInterval(() => {
      console.log("this is firing");
      this.date = dayjs().subtract(1, "seconds").format("DD-MM-YYYY hh:mm:ss");
      console.log(this.date);
    }, 1000);
  }
}
</script>
<style lang="scss" scoped></style>
