<template>
  <!-- expand-on-hover -->
  <v-navigation-drawer permanent>
    <v-list nav dense v-for="(item, index) in menuItems" :key="index">
      <v-list-item link :to="item.link" v-if="item.show">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ item.name }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({})
export default class MenuItem extends Vue {
  get menuItems(): Array<{
    name: string;
    icon: string;
    link: string;
    show: boolean;
  }> {
    return [
      {
        name: "Home",
        icon: "mdi-home",
        link: "/",
        show: true,
      },
      {
        name: "About",
        icon: "mdi-information-outline",
        link: "/about",
        show: true,
      },
      {
        name: "Dashboard",
        icon: "mdi-view-dashboard-outline",
        link: "/dashboard",
        show: this.loggedIn,
      },
    ];
  }

  get loggedIn(): boolean {
    return this.$store.getters.user.loggedIn;
  }

  goTo(): void {
    this.$router.push("/");
  }
}
</script>
