<template>
  <v-card class="c-card">
    <div class="c-card__logo" v-if="size !== 'small'">
      <template v-if="producer.image">
        <img :src="producer.image" />
      </template>
      <span v-else>{{ producer.companyName.charAt(0) }}</span>
    </div>
    <div class="c-card__content">
      <h4 class="pl-4 pt-2">{{ producer.companyName }}</h4>
      <v-card-subtitle
        class="pt-1"
        v-if="size !== 'small'"
        v-html="producer.description"
      ></v-card-subtitle>
    </div>
    <v-card-actions class="c-card__actions">
      <v-btn
        color="#524064"
        class="white--text align-self-end"
        @click="goTo(producer)"
        >Read more</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import { IProducer } from "@/models/models";
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class ProducerListContainer extends Vue {
  @Prop() producer;
  @Prop() size;

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  goTo(producer: IProducer): void {
    this.$store.commit("LOADING_STATE", true);
    this.$router.push(`/producer/${producer.companyName}/${producer.id}`);
  }
}
</script>
<style lang="scss">
.c-card {
  flex-direction: row;
  flex: 1 0 0;
  justify-content: space-between;
  &__logo {
    img {
      width: 100%;
      height: auto;
      max-height: 120px;
    }
    @media only screen and (max-width: 730px) {
      width: 100% !important;
    }
  }
  &__wrapper {
    @media only screen and (max-width: 730px) {
      .c-card {
        flex-direction: column;
      }
    }
  }
  &__content {
    width: 100%;
    @media only screen and (max-width: 730px) {
      padding: 8px;
    }
  }
  &__actions {
    padding: 0 21px 21px !important;
  }
}
</style>
