<template>
  <div>
    <h2 class="mb-2" v-if="$store.state.producer">
      {{ titleText }}
    </h2>
    <h2 class="mb-6" v-else>{{ userName }} {{ titleText }}</h2>
    <h3 class="mb-4">
      If you've got any surplus produce and would like to share please click
      below.
    </h3>
    <v-btn v-if="$store.state.userInfo.company" class="btn mb-6"
      >Happy to share excess produce</v-btn
    >
    <dashboard-tabs :tabs="items" />
    <v-btn v-if="$store.state.producer" class="my-2 btn" @click="update"
      >Update Company Info</v-btn
    >
    <v-btn v-if="!$store.state.producer" class="my-2 btn" @click="create"
      >Create Company</v-btn
    >
    <v-btn
      class="my-2 ml-4 btn"
      v-if="$store.state.producer"
      color="error"
      @click="deleteCompanyProfile"
      >Delete company profile</v-btn
    >
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import CompanyInfo from "@/components/company/company-info.vue";
import CompanySocial from "@/components/company/company-social.vue";
import CompanySettings from "@/components/company/company-settings.vue";
import DashboardTabs from "@/components/dashboard/dashboard-tabs.vue";
import axios from "axios";

interface companyInfo {
  description: string;
  companyName: string;
  category: string;
  postcode: string;
  county: string;
  type: string;
  lat: string;
  lng: string;
  id: string;
  hasShop: boolean;
  organic: boolean;
  tags: string[];
  membership: boolean;
}

@Component({
  components: {
    CompanyInfo,
    CompanySocial,
    CompanySettings,
    DashboardTabs,
  },
})
export default class companyDashboard extends Vue {
  tab = null;

  location: {
    geometry: {
      location: {
        lat: number;
        lng: number;
      };
    };
  } = {
    geometry: {
      location: {
        lat: 0,
        lng: 0,
      },
    },
  };

  get titleText(): string {
    return this.$store.state.producer
      ? `${this.userName} check and amend your company info here in your dashboard`
      : `${this.userName} add your company info here in your dashboard.`;
  }

  get items(): Array<{ tab: string; content: string }> {
    return [
      { tab: "Business Info", content: "info" },
      { tab: "Contact info and social", content: "social" },
      { tab: "Settings", content: "settings" },
    ];
  }
  get userName(): string {
    return this.$store.state.userInfo?.firstName;
  }

  get companyInfo(): companyInfo {
    const companyInfo = {
      description: "",
      companyName: "",
      category: "",
      postcode: "",
      county: "",
      type: "",
      lat: "",
      lng: "",
      id: "",
      hasShop: false,
      organic: false,
      tags: [""],
      membership: false,
    };
    return this.$store.state.producer
      ? this.$store.state.producer
      : companyInfo;
  }

  async create(): Promise<void> {
    this.getLatLongFrom(this.companyInfo.postcode)
      .then((data: any) => {
        this.companyInfo.lat = data.geometry.location.lat;
        this.companyInfo.lng = data.geometry.location.lng;
      })
      .then(() => {
        this.$store.dispatch("createCompany", this.companyInfo).then(() => {
          this.$router.push("/");
        });
      });
  }

  deleteCompanyProfile(): void {
    this.$store
      .dispatch("deleteCompany", this.$store.state.producer.id)
      .then(() => {
        this.$store.dispatch("deleteUserProfile");
      })
      .then(() => {
        this.$router.push("/");
      });
  }

  update(): void {
    this.$store
      .dispatch("updateCompany", this.companyInfo)
      .then((data) => console.log("updated data", data));
    // updating producer need to update user and store
  }

  async getLatLongFrom(postcode: string): Promise<any> {
    try {
      const { data } = await axios.get(
        `https://maps.googleapis.com/maps/api/geocode/json?address=${postcode}&key=AIzaSyDg0qe-o5o6Nz4i3sMeLhyjXxisJd1CBiI`
      );
      if (data.error_message) {
        console.error(data.error_message);
      } else {
        // this.address = data.results[0].formatted_address;
        this.location = data.results[0];
        return this.location;
      }
    } catch (error: any) {
      console.log(error.message);
    }
  }
}
</script>
<style lang="scss" scoped></style>
