<template>
  <div>
    <!-- adding tags -->

    <v-text-field
      label="Add a tag"
      class="my-4"
      dense
      :disabled="!companyInfo.membership"
      v-model="tag"
      @change="addTag"
    ></v-text-field>
    <template v-for="(tag, index) in companyInfo.tags">
      <v-chip
        close
        color="#524064"
        dark
        class="mb-4 mr-2"
        v-if="tag !== null"
        :key="index"
        @click="deleteTag($event)"
        >{{ tag }}</v-chip
      >
    </template>

    <v-checkbox
      :disabled="!companyInfo.membership"
      label="Has Shop"
      v-model="companyInfo.hasShop"
      dense
    />
    <v-checkbox
      :disabled="!companyInfo.membership"
      label="Organic Products"
      v-model="companyInfo.organic"
      dense
    />
    <image-upload />
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import ImageUpload from "@/components/image-upload/image-upload.vue";

@Component({
  components: { ImageUpload },
})
export default class CompanySettings extends Vue {
  tag = "";
  produceToShare = false;

  @Prop() companyInfo;

  addTag(tag: string): void {
    this.companyInfo.tags.unshift(tag);
    this.tag = "";
    this.$store.dispatch("updateCompany", this.companyInfo);
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types, @typescript-eslint/no-explicit-any
  deleteTag($event: any): void {
    // TODO
    // Disable removal of tags if not a member
    this.companyInfo.tags = this.companyInfo.tags.filter(
      (t) => t !== $event.target.innerText
    );
    this.$store.dispatch("updateCompany", this.companyInfo);
  }
}
</script>
