<template>
  <div v-if="companyInfo">
    <v-text-field
      label="Company Name"
      v-model="companyInfo.companyName"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-textarea
      auto-grow
      rows="3"
      row-height="25"
      label="Description"
      v-model="companyInfo.description"
      :disabled="!companyInfo.membership"
    />
    <v-text-field
      label="Email"
      v-model="companyInfo.email"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-text-field
      label="Category"
      v-model="companyInfo.category"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-text-field
      label="Type"
      v-model="companyInfo.type"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-text-field
      label="Postcode"
      v-model="companyInfo.postcode"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class CompanyInfo extends Vue {
  @Prop() companyInfo;
}
</script>
