<template>
  <div>
    <v-text-field
      label="Website"
      v-model="companyInfo.website"
      dense
      return-object
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-text-field
      label="Instagram"
      v-model="companyInfo.instagram"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-text-field
      label="Facebook"
      v-model="companyInfo.facebook"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
    <v-text-field
      label="Twitter"
      v-model="companyInfo.twitter"
      return-object
      dense
      :disabled="!companyInfo.membership"
    ></v-text-field>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class extends Vue {
  @Prop() companyInfo;
}
</script>
