<template>
  <div>directions is here</div>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import * as VueGoogleMaps from "vue2-google-maps";
@Component({})
export default class Directions extends Vue {
  @Prop() origin;
  @Prop() destination;
  @Prop() travelmode;
  @Prop() map;

  startpoint = null;
  endpoint = null;
  directionsService: any = null;
  directionsRenderer: any = null;

  @Watch("destination")
  createDestination(): void {
    this.createRoute();
  }

  @Watch("map")
  destinationChanged(): void {
    this.startpoint = null;
    this.endpoint = null;
    this.$nextTick(() => {
      this.map.$mapPromise
        .then(() => {
          this.directionsService = new this.google.maps.DirectionsService();
          this.directionsRenderer = new this.google.maps.DirectionsRenderer();
        })
        .then(() => {
          this.createRoute();
        });
    });
  }

  get google(): any {
    return VueGoogleMaps.gmapApi();
  }

  createRoute(): void {
    this.startpoint = new this.google.maps.LatLng(
      this.origin.lat,
      this.origin.lng
    );
    this.endpoint = new this.google.maps.LatLng(
      this.destination.lat,
      this.destination.lng
    );

    this.directionsRenderer?.setMap(this.map.$mapObject);
    this.directionsService?.route(
      {
        origin: this.startpoint,
        destination: this.endpoint,
        travelMode: this.travelmode,
      },
      (response, status) => {
        if (status !== "OK") return;
        this.directionsRenderer?.setDirections(response);
      }
    );
  }
}
</script>
