<!-- eslint-disable @typescript-eslint/explicit-module-boundary-types -->
<template>
  <div class="c-image-upload">
    <div class="d-flex flex-column">
      <input
        type="file"
        ref="file"
        style="display: none"
        @change="previewImage"
        accept="image/*"
        :disabled="!hasMembership"
      />
      <div v-if="imgData != null">
        <!-- 
            DO we need preview? 
            Definitely need stored image to show
            THIS LOOKS LIKE IT'S WORKING

            Need to look at making progress bar work on upload not choosing photo
        -->
        <div class="c-image-upload__preview-wrapper">
          <v-icon
            class="c-image-upload__remove"
            @click="img = ''"
            color="#524064"
            v-if="img"
          >
            mdi-close
          </v-icon>
          <img
            v-if="image"
            class="preview"
            height="268"
            width="356"
            :src="image"
          />

          <br />
          <div class="c-image-upload__button-wrapper d-flex mt-4">
            <v-btn class="mr-4" @click="$refs.file.click()">Add an image</v-btn>
            <v-btn class="btn" @click="create" :disabled="!imageUploaded"
              >Upload</v-btn
            >
          </div>
        </div>
      </div>

      <!-- <v-progress-linear
        class="my-2"
        rounded
        :value="uploadValue"
      ></v-progress-linear> -->
      <!-- <v-text-field
        solo
        v-model="caption"
        label="Caption goes here"
        :disabled="!hasMembership"
      ></v-text-field> -->
      <!-- TODO 
        if upload value 100 then show upload button
        maybe change text to 'ready to upload'
      -->
    </div>
  </div>
</template>
<script lang="ts">
import firebase from "firebase";
import { Vue, Component } from "vue-property-decorator";

@Component({})
export default class ImageUpload extends Vue {
  caption = "";
  img = null;
  imgData = {
    name: "",
  };
  uploadValue = 0;

  get imageUploaded(): boolean {
    return this.img ? true : false;
  }

  get hasMembership(): boolean {
    return this.$store.state.userInfo.userType === "individual"
      ? true
      : this.$store.state.producer.membership;
  }

  get image(): string {
    return this.$store.state.producer?.image
      ? this.$store.state.producer?.image
      : this.img;
  }

  choosePhoto(): void {
    (this.$refs["imageInput"] as HTMLElement).click();
  }

  create(): void {
    const post = {
      photo: this.img,
      caption: this.caption,
    };

    firebase.database().ref("gallery").push().set(post);
    if (this.$store.state.userInfo === "business") {
      const companyInfo = this.$store.state.producer;
      companyInfo.image = this.img;
      this.$store.dispatch("updateCompany", companyInfo);
    } else {
      this.$store.commit("SET_IMAGE", this.img);
    }
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types, @typescript-eslint/no-explicit-any
  previewImage(event: any): void {
    this.uploadValue = 0;
    this.img = null;
    this.imgData = event.target.files[0];
    this.onUpload();
  }

  onUpload(): void {
    this.img = null;
    const storageRef = firebase
      .storage()
      .ref(`${this.imgData?.name}`)
      .put(this.imgData);
    storageRef.on(
      `state_changed`,
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
      (snapshot: any) => {
        this.uploadValue =
          (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      },
      (error) => {
        console.log(error.message);
      },
      () => {
        this.uploadValue = 100;
        storageRef.snapshot.ref.getDownloadURL().then((url) => {
          this.img = url;
          this.$store.commit("SET_IMAGE", this.img);
        });
      }
    );
  }
}
</script>
<style lang="scss" scoped>
.c-image-upload {
  position: relative;
  &__remove {
    position: absolute;
    right: 50%;
    top: 0;
  }
}
</style>
