<template>
  <div class="container">
    <v-alert
      v-if="!sharedItems.length"
      class="mt-4"
      border="right"
      colored-border
      type="warning"
      elevation="2"
      color="warning"
      >No items currently being shared</v-alert
    >
    <div
      v-else
      class="c-user-item-list"
      v-show="!formData.itemName && sharedItems.length"
    >
      <div class="d-flex flex-wrap">
        <v-card
          class="mx-2 mb-4 c-user-item-list__card"
          v-for="(item, index) in sharedItems"
          :key="index"
        >
          <v-card-title class="pt-0">{{ item.itemName }}</v-card-title>
          <v-card-actions>
            <v-btn class="btn" @click.prevent="showForm(item)" text>Edit</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>
    <v-icon
      class="c-user-item-list__remove"
      @click="formData = clearFormData"
      color="#524064"
      v-show="formData.itemName"
    >
      mdi-close
    </v-icon>
    <v-form class="c-user-item-list__form" v-show="formData.itemName">
      <div>
        <label for="username">Username</label>
        <v-text-field
          id="username"
          return-object
          dense
          required
          v-model="formData.username"
        ></v-text-field>
      </div>
      <div>
        <label for="itemName">Item name</label>
        <v-text-field
          id="itemName"
          return-object
          dense
          required
          v-model="formData.itemName"
        ></v-text-field>
      </div>
      <div>
        <label for="description">Description</label>
        <v-text-field
          id="description"
          return-object
          dense
          required
          v-model="formData.description"
        ></v-text-field>
      </div>
      <div>
        <label for="dateAdded">Date added</label>
        <v-text-field
          id="dateAdded"
          return-object
          dense
          required
          v-model="formData.dateAdded"
        ></v-text-field>
      </div>
      <div>
        <label for="quantity">Quantity</label>
        <v-text-field
          id="quantity"
          return-object
          dense
          required
          v-model="formData.quantity"
        ></v-text-field>
      </div>
      <div v-if="formData.type === 'food'">
        <label for="useByDate">Use by date</label>
        <v-text-field
          id="useByDate"
          return-object
          dense
          required
          v-model="formData.useByDate"
        ></v-text-field>
      </div>
      <div class="c-user-item-list__button-wrapper">
        <v-btn class="btn mr-2" @click="updateSharedItem">Update</v-btn>
        <v-btn color="error" class="v-btn" @click="deleteSharedItem"
          >Delete</v-btn
        >
      </div>
    </v-form>
    <v-snackbar
      v-model="snackbar"
      absolute
      bottom
      color="success"
      tile
      :timeout="timeout"
    >
      {{ success }}
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({})
export default class UserItemList extends Vue {
  // TODO
  // definitely don't need to do the below
  formData = {
    itemName: "",
    id: "",
  };
  clearFormData = {
    itemName: "",
    id: "",
  };
  success = "";
  snackbar = false;
  timeout = 6000;

  get sharedItems(): any {
    return this.$store.state.userInfo?.itemsToShare;
  }

  get item(): { id: string } {
    return this.sharedItems.find((x) => x.itemName === this.formData.itemName);
  }

  showForm($event): void {
    this.formData = $event;
  }

  updateSharedItem(): void {
    const itemToShare = {
      id: this.formData.id,
      input: this.formData,
    };
    this.$store.dispatch("updateItemToShare", itemToShare).then((data) => {
      if (data) {
        this.snackbar = true;
        this.success = "You've successfully updated your profile";
      }
    });
  }

  deleteSharedItem(): void {
    this.$store.dispatch("deleteItemToShare", this.formData.id).then(() => {
      this.$store.dispatch("getUser", this.$store.state.user.data.email);
      this.formData = this.clearFormData;
    });
    // TODO
    // on delete need to update store
    // Is that another request for userInfo?
  }
}
</script>
<style lang="scss" scoped>
.c-user-item-list {
  &__form {
    position: relative;
  }
  &__card {
    min-width: calc(300px + 32px);
  }
  &__remove {
    position: absolute;
    right: 8%;
    top: 0;
  }
}
</style>
