<template>
  <div class="c-item-upload">
    <v-form
      class="px-4"
      v-model="validForm"
      ref="form"
      @submit.prevent="uploadItemToShare"
    >
      <!-- <div> -->
      <!-- Not sure if this is needed when uploading a product -->
      <!-- Maybe add it to user settings -->
      <!-- <label for="username">Username</label>
        <v-text-field
          required
          v-model="itemToShare.username"
          :rules="nameRules"
          return-object
          single-line
          dense
        ></v-text-field> -->
      <!-- </div> -->
      <div>
        <v-radio-group v-model="itemToShare.type" mandatory row>
          <v-radio label="Food" value="food"></v-radio>
          <v-radio label="Non Food" value="non-food"></v-radio>
        </v-radio-group>
      </div>
      <div>
        <p v-if="itemToShare.type === 'food'">Food item you want to share</p>
        <p v-if="itemToShare.type === 'non-food'">
          Non food item you want to share
        </p>
        <label fo="itemName">Item name</label>
        <v-text-field
          required
          v-model="itemToShare.itemName"
          :rules="itemNameRule"
          return-object
          dense
          single-line
        ></v-text-field>
      </div>
      <div>
        <label for="description">Description</label>
        <v-text-field
          single-line
          required
          :rules="quantityRule"
          type="text"
          v-model="itemToShare.description"
          placeholder="Eg: A pack of 3 bagels, best before 28 Oct 2022"
          return-object
          dense
        />
      </div>
      <div>
        <label for="itemName">Quantity</label>
        <v-text-field
          single-line
          required
          :rules="quantityRule"
          type="number"
          min="0"
          v-model="itemToShare.quantity"
          return-object
          dense
        ></v-text-field>
      </div>
      <div>
        <label for="itemName">Pickup information</label>
        <v-text-field
          required
          v-model="itemToShare.pickupInformation"
          placeholder="Eg: Pickup any day this week before 4pm or I can leave it outside"
          return-object
          :rules="pickupRule"
          single-line
          dense
        ></v-text-field>
      </div>
      <div v-if="itemToShare.type === 'food'">
        <label for="usebyDate">Best before date of food item</label>
        <v-text-field
          required
          v-model="itemToShare.useByDate"
          return-object
          readonly
          single-line
          dense
          @click="showCalendar = !showCalendar"
        ></v-text-field>
      </div>
      <div class="c-item-upload">
        <v-date-picker
          v-if="showCalendar"
          v-model="picker"
          color="#524064"
          @click:date="showCalendar = false"
        ></v-date-picker>
        <image-upload />
      </div>
      <v-alert
        v-if="this.success"
        border="right"
        class="mt-4"
        colored-border
        type="success"
        elevation="2"
        dismissible
      >
        {{ this.success }}
      </v-alert>
      <v-alert
        v-if="this.error"
        class="mt-4"
        border="right"
        colored-border
        type="error"
        elevation="2"
        dismissible
      >
        {{ this.error }}
      </v-alert>
      <!-- :disabled="!validForm" -->
      <v-card-actions class="pa-0">
        <v-btn type="submit" class="btn mt-4">Share</v-btn>
        <v-btn class="mt-4" color="warning" @click="clearItem"
          >Load next item</v-btn
        >
      </v-card-actions>
      <v-snackbar
        v-model="snackbar"
        absolute
        bottom
        color="success"
        tile
        :timeout="timeout"
      >
        You're item has been uploaded
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-form>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import dayjs from "dayjs";
import axios from "axios";

import ImageUpload from "@/components/image-upload/image-upload.vue";

export interface ItemToShare {
  username: string;
  itemName: string;
  quantity: number;
  description: string;
  pickupInformation: string;
  useByDate: string;
  userType: string;
  dateAdded: string;
  image: string;
  userId: string;
  lat: string;
  lng: string;
  address: string;
  type: string;
}

@Component({
  components: {
    ImageUpload,
  },
})
export default class UserItemUpload extends Vue {
  showCalendar = false;
  validForm = false;
  success = "";
  error = "";
  snackbar = false;
  timeout = 6000;
  picker = new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
    .toISOString()
    .substr(0, 10);
  itemToShare = {
    username: this.username,
    itemName: "",
    quantity: "",
    description: "",
    pickupInformation: "",
    useByDate: this.useByDate,
    userType: this.userType,
    dateAdded: dayjs(),
    distance: "",
    picture: "",
    lat: "",
    lng: "",
    type: "",
  };
  nameRules = [
    (v: string): string | boolean => !!v || "Please include your username",
    // (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
  ];
  itemNameRule = [
    (v: string): string | boolean =>
      !!v || "Please name the item you're looking to share",
  ];
  quantityRule = [
    (v: string): string | boolean =>
      !!v || "Please tell us the number of items you're sharing",
  ];
  pickupRule = [
    (v: string): string | boolean =>
      !!v ||
      "Please give a brief description on where and how to pick up the item",
    (v: string): string | boolean =>
      (v && v.length <= 80) ||
      "The description must be less than 80 characters",
  ];

  get imageUploaded(): boolean {
    return this.$store.state.image ? true : false;
  }

  get updatedSharedItem(): ItemToShare {
    return {
      username: this.username,
      type: this.itemToShare.type,
      itemName: this.itemToShare.itemName,
      quantity: parseInt(this.itemToShare.quantity),
      pickupInformation: this.itemToShare.pickupInformation,
      description: this.itemToShare.description,
      useByDate: this.useByDate,
      userType: this.userType,
      dateAdded: dayjs().format("YYYY-MM-DD"),
      image: this.$store.state.image ? this.$store.state.image : "",
      userId: this.userId,
      lat: this.$store.state.location.lat.toString(),
      lng: this.$store.state.location.lng.toString(),
      address: "",
    };
  }

  get userId(): string {
    return this.$store.state.userInfo.id;
  }

  get useByDate(): string {
    return dayjs(this.picker).format("DD-MM-YYYY");
  }

  get username(): string {
    return `${this.$store.state.userInfo.firstName} ${this.$store.state.userInfo.lastName}`;
  }

  get userType(): string {
    return this.$store.state.userInfo.userType;
  }
  clearItem(): void {
    (this.$refs.form as HTMLFormElement).reset();
    this.success = "";
  }

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  async getAddress(): Promise<any> {
    const data = axios.get(
      `https://maps.googleapis.com/maps/api/geocode/json?latlng=${this.$store.state.location.lat.toString()},${this.$store.state.location.lng.toString()}&key=AIzaSyDg0qe-o5o6Nz4i3sMeLhyjXxisJd1CBiI`
    );
    console.log(data);
    return data;
  }

  uploadItemToShare(): void {
    // this.$store.commit("LOADING_STATE", true);
    (this.$refs.form as HTMLFormElement).validate();
    if (this.validForm) {
      this.getAddress().then((location) => {
        console.log(location);
        this.updatedSharedItem.address =
          location.data.results[4].formatted_address;
        console.log(this.updatedSharedItem);
        this.$store
          .dispatch("createItemToShare", this.updatedSharedItem)
          .then((sharedItem) => {
            if (sharedItem) {
              this.snackbar = true;
              this.$store.dispatch(
                "getUser",
                this.$store.state.user.data.email
              );
            }
            // if (sharedItem.errors) {
            //   this.error =
            //     "Your item didn't managed to upload. Please contact a member of the team.";
            //   setTimeout(() => {
            //     this.error = "";
            //   }, 2000);
            // } else {
            //   this.success = "You're item has been uploaded";
            //   setTimeout(() => {
            //     this.success = "";
            //   }, 2000);
            //   console.log(sharedItem);
            // }
          })
          .catch((err) => (this.error = err));
      });
    } else {
      this.error = "Please make sure your form is valid.";
    }
    // not sure if this is needed. Might use if store not populated
  }
  // obj = {
  //  itemName: "",
  //  useByDate: "",
  //  picture: "",
  //  pickUp: false ????
  //  pickUpDescription: "",
  //  delivery: false, ????
  //  location: lat, lng,
  //  dateAdded: ""
  //  userType: ""
  //  quantity: 0
  //  username: ""
  //  distance: ""
  //}

  beforeDestroy(): void {
    this.$store.commit("SET_IMAGE", "");
  }
}
</script>
<style lang="scss" scoped></style>
