<template>
  <div class="c-user-info">
    <v-form v-model="validForm" ref="form" @submit.prevent="uploadFoodItem">
      <div>
        <label for="name">Name</label>
        <v-text-field
          v-model="info.firstName"
          return-object
          dense
          :rules="firstNameRule"
          required
        ></v-text-field>
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <v-text-field
          v-model="info.lastName"
          return-object
          dense
          :rules="lastNameRule"
          required
        ></v-text-field>
      </div>
      <div>
        <label for="email">Email</label>
        <v-text-field
          v-model="info.email"
          required
          return-object
          :rules="emailRule"
          dense
        ></v-text-field>
      </div>
      <v-alert
        v-if="this.success"
        border="right"
        class="mt-4"
        colored-border
        type="success"
        elevation="2"
      >
        {{ this.success }}
      </v-alert>
      <v-btn class="btn mt-4 mr-4" @click="updateProfile">Update profile</v-btn>
      <v-btn class="mt-4" color="error" @click="deleteProfile"
        >Delete profile</v-btn
      >
    </v-form>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({})
export default class UserInfo extends Vue {
  success = "";
  validForm = false;
  firstNameRule = [
    (v: string): string | boolean => !!v || "Please include your first name",
    // (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
  ];
  lastNameRule = [
    (v: string): string | boolean => !!v || "Please include your last name",
    // (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
  ];
  emailRule = [
    (v: string): string | boolean =>
      !v ||
      /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
      "E-mail must be valid",
  ];
  get info(): {
    firstName: string;
    lastName: string;
    email: string;
    userType: string;
    id: string;
    itemsToShare: [];
    company: unknown;
  } {
    return this.$store.state.userInfo;
  }

  updateProfile(): void {
    // this.$store.commit("LOADING_STATE", true);
    const info = {
      id: this.info.id,
      firstName: this.info.firstName,
      lastName: this.info.lastName,
      email: this.info.email,
      userType: this.info.userType,
      itemsToShare: this.info.itemsToShare,
      company: this.info.company,
    };
    this.$store.commit("SET_USER_INFO", info);
    this.$store.dispatch("updateUser", info).then(() => {
      this.success = "You've successfully updated your profile";
      // this.$store.commit("LOADING_STATE", false);
    });
  }

  deleteProfile(): void {
    this.$store.commit("LOADING_STATE", true);
    this.$store
      .dispatch("deleteUserProfile", this.$store.state.userInfo.id)
      .then(() => {
        this.$store.state.user.loggedIn = false;
        this.$router.push("/");
      });
  }

  created(): void {
    if (this.info.itemsToShare?.length) {
      this.$store.commit("SET_ITEMS_TO_SHARE", this.info.itemsToShare);
    }
  }
}
</script>
<style lang="scss" scoped></style>
