<template>
  <div>
    <h2>
      {{ $store.state.userInfo.firstName }} welcome to your profile where you
      can share any surplus food you might have.
    </h2>
    <dashboard-tabs class="mt-4" :tabs="tabs" />
    <!-- 
      Tab 1 - User info and update
      Tab 2 - Item to share and update
    -->
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import DashboardTabs from "@/components/dashboard/dashboard-tabs.vue";
@Component({
  components: {
    DashboardTabs,
  },
})
export default class UserDashboard extends Vue {
  tabs = [
    { tab: "User Info", content: "user-info" },
    { tab: "Upload products", content: "share" },
    { tab: "Uploaded products", content: "sharing" },
  ];
  // add items
  // view and edit loaded items
  // view and manage requests - how to send requests/notifications
  getCurrentPosition(): any {
    navigator.geolocation.getCurrentPosition((position) => {
      const center = {
        lat: Number(position.coords.latitude),
        lng: Number(position.coords.longitude),
      };
      if (center) {
        this.$store.commit("SET_LOCATION", center);
      }
    });
  }
  created(): void {
    this.getCurrentPosition();
  }
}
</script>
<style lang="scss" scoped></style>
