<template>
  <div class="container">
    <div class="c-container pa-4 my-4">
      <h1 class="pb-4">Messages</h1>
      <v-alert
        class="mt-4"
        border="right"
        colored-border
        type="warning"
        elevation="2"
        color="warning"
        v-if="!notifications.length"
        >You currently don't have any notifications</v-alert
      >
      <div
        class="c-messages"
        v-for="(notification, index) in notifications"
        :key="index"
      >
        <template v-for="(message, con) in notification.messages">
          <div :key="con + 'a'">
            <template
              v-if="notifications[index].messages[0].sender.id === userInfo.id"
            >
              <p class="mb-0" :key="con" v-if="con === 0">
                Message from
                {{ notifications[index].messages[1].sender.firstName }}
                <span v-if="notifications[index].messages[0].itemName"
                  >regarding
                  {{ notifications[index].messages[0].itemName }}</span
                >
              </p>
            </template>
            <template v-else>
              <p class="mb-0" :key="con" v-if="con === 0">
                Message from
                {{ notifications[index].messages[0].sender.firstName }}
                <span v-if="notifications[index].messages[0].itemName"
                  >regarding
                  {{ notifications[index].messages[0].itemName }}</span
                >
              </p>
            </template>

            <p class="mb-0">{{ message.created }}</p>
            <div
              class="c-messages__message"
              :class="
                userInfo.id === message.sender.id ? 'c-messages__purple' : null
              "
            >
              {{ message.message }}
              <template v-if="userInfo.id != message.sender.id">
                <v-checkbox
                  label="Read"
                  v-model="message.read"
                  @change="read(notification, con)"
                />
              </template>
            </div>
          </div>
        </template>
        <send-message :notification="notification" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import sendMessage from "@/components/messaging/send-message.vue";

// neeed to look at adding time received as well as date.

@Component({
  components: {
    sendMessage,
  },
})
export default class MessagessList extends Vue {
  // warningMessage = "Please login again";

  get notifications(): any {
    return this.$store.state.notifications;
  }

  get userInfo(): any {
    return this.$store.state.userInfo;
  }

  read(notification: any, index: number): void {
    const sender = {
      firstName: this.$store.state.userInfo.firstName,
      lastName: this.$store.state.userInfo.lastName,
      id: this.$store.state.userInfo.id,
    };
    notification.messages[index].read === true ? false : false;
    const messageToUpdate = {
      id: notification.id,
      input: notification,
    };

    this.$store.dispatch("updateMessage", messageToUpdate);
  }
}
</script>
<style lang="scss" scoped>
.c-messages {
  padding: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;

  &__message {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0;
  }
  &__purple {
    background-color: #524064 !important;
    color: #fff !important;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .divider {
    border-top: 1px solid lightgray;
    margin: 40px 0;
  }
  &:last-of-type {
    .divider {
      display: none;
    }
  }
}
</style>
