<template>
  <div>
    <v-btn v-if="!replying" @click="replying = !replying" class="btn"
      >Reply</v-btn
    >
    <v-text-field v-if="replying" v-model="message"></v-text-field>
    <v-btn v-if="replying" @click="send" class="btn">Send</v-btn>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import dayjs from "dayjs";

@Component({})
export default class sendMessage extends Vue {
  @Prop() notification;
  replying = false;
  message = "";

  send(): void {
    const sender = {
      firstName: this.$store.state.userInfo.firstName,
      lastName: this.$store.state.userInfo.lastName,
      id: this.$store.state.userInfo.id,
    };
    const messageToSend = {
      threadId: this.notification.messages[0].threadId,
      created: dayjs().format("L LT"),
      message: this.message,
      sender: sender,
      read: this.notification.read === true ? false : false,
    };
    this.notification.messages.push(messageToSend);
    const messageToUpdate = {
      id: this.notification.id,
      input: this.notification,
    };
    this.$store.dispatch("updateMessage", messageToUpdate);
    this.replying = false;
  }
}
</script>
<style lang="scss" scoped></style>
