<template>
  <div class="container">
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <div class="c-container pa-4 my-4" v-if="!loadingState">
      <h1>Membership</h1>
      <template v-if="!readyToPay">
        <p>Pick the membership that works best for you</p>
        <v-select
          v-model="selected"
          :items="memberships"
          dense
          outlined
          return-object
        ></v-select>
        <v-btn class="btn" @click="selectMembership">Select membership</v-btn>
      </template>
      <checkout v-if="readyToPay" :membershipSelected="selected" />
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Checkout from "@/components/payment/checkout.vue";

@Component({
  components: {
    Checkout,
  },
  metaInfo: {
    title: "Lovely Larder - Membership",
    meta: [
      // {
      //   name: "keywords",
      //   content:
      //     "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      // },
      {
        vmid: "description",
        name: "description",
        content:
          "Pick the membership that works best for you to promote your products or help share wasted food with your local community.",
      },
    ],
  },
})
export default class extends Vue {
  readyToPay = false;
  selected = {
    duration: "1month",
    text: "1 month subscription - £3.99",
    price: 3.99,
  };
  memberships = [
    {
      duration: "1month",
      text: "1 month subscription - £3.99",
      price: 3.99,
    },
    {
      duration: "6month",
      text: "6 month subscription - £20.00",
      price: 20.0,
    },
    {
      duration: "1year",
      text: "1 year subscription - £44.00",
      price: 44.0,
    },
  ];

  get loadingState(): boolean {
    return this.$store.state.loadingState;
  }

  selectMembership(): void {
    this.readyToPay = true;
  }
  // store mutations and actions
  // other methods
  // lifecycle methods
}
</script>
<style lang="scss" scoped></style>
