<template>
  <div class="c-about container">
    <div class="c-container pa-4 my-4">
      <h1 class="pb-4">About Lovely Larder</h1>
      <p>
        Lovely Larder was created off the back of the want and desire to find
        all the amazing local producers in our area having moved to the
        countryside with our little ones over a year ago.
      </p>
      <p>
        We understand that sometimes visiting big supermarkets brands is
        necessary but for a while now we've been more and more keen on not only
        sourcing food locally but also knowing where it has come from and most
        importantly promoting all the amazing local producers.
      </p>
      <p>
        If you would like to sign up please don't hesitate do so by registering
        <router-link to="/register">here</router-link>.
        <!-- TODO: ADD CONTACT FORM -->
        <!-- Or we will be more than
        happy to talk to you please email
        <a href="mailto:alexis.hindle@lovelylarder.com"
          >alexis.hindle@lovelylarder.com</a> -->
      </p>
    </div>
    <!-- <v-card elevation="2"> -->
    <!-- </v-card> -->
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  metaInfo: {
    title: "Lovely Larder - About",
    meta: [
      { name: "robots", content: "index,follow" },
      {
        vmid: "description",
        name: "description",
        content:
          "We decided to start this project in order to familiarise ourselves with all the amazing local producers in our area. In turn wanted to help others to do the same",
      },
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      },
    ],
  },
})
export default class extends Vue {}
</script>
