<template>
  <div>
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <div class="container" v-if="!loadingState">
      <div class="c-container pa-4 my-4">
        <div id="dashboard">
          <div class="c-dashboard">
            <h1 class="pb-4">Profile</h1>
            <company-dashboard
              v-if="$store.state.userInfo.userType === 'business'"
            />
            <user-dashboard
              v-if="$store.state.userInfo.userType === 'individual'"
            />
          </div>

          <v-dialog v-model="dialog" width="500">
            <v-card class="pa-4">
              <h1>Lovely Larder Membership</h1>
              <p>
                You currently have not signup to a Lovely Larder membership and
                therefore can not amend your profile. If you would like to do so
                please go the membership page
              </p>

              <v-btn class="btn" text @click="goToMembership"
                >Membership page</v-btn
              >
            </v-card>
          </v-dialog>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import CompanyDashboard from "@/components/company/company-dashboard.vue";
import UserDashboard from "@/components/user/user-dashboard.vue";
import { IProducer } from "@/models/models";

@Component({
  components: {
    CompanyDashboard,
    UserDashboard,
  },
  metaInfo: {
    title: "Lovely Larder - Dashboard",
    meta: [
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, community, surplus, food waster, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      },
      {
        vmid: "description",
        name: "description",
        content:
          "The Lovely Larder dashboard can help you promote your products or share food surplus with your local community.",
      },
    ],
  },
})
export default class extends Vue {
  // Listen for events on all inputs
  // if membership false show popup prompting membership sign up
  // Call to action takes you to membership signup
  dialog = false;
  loadedProducer = null;

  @Watch("loadedProducer")
  loadProducer(): void {
    alert("producer loaded");
    if (
      this.hasMembership === false &&
      this.$store.state.userInfo.userType === "business"
    ) {
      const dashboard = document.getElementById("dashboard");
      (dashboard as HTMLElement).addEventListener("click", () => {
        this.dialog = true;
      });
    }
  }

  get producer(): IProducer {
    return this.$store.state.producer;
  }

  get hasMembership(): boolean {
    return this.$store.state.producer.membership;
  }

  get loadingState(): boolean {
    return this.$store.state.loadingState;
  }

  get userEmail(): string {
    return this.$store.state.user.data?.email;
  }

  goToMembership(): void {
    this.dialog = false;
    this.$router.push("/membership");
  }

  // Not sure this is needed
  beforeDestroy(): void {
    const dashboard = document.getElementById("dashboard");
    if (dashboard) {
      (dashboard as HTMLElement).removeEventListener("click", () => {
        console.log("eventListener removed");
      });
    }
  }
}
</script>
<style lang="scss">
.v-card__text {
  padding-left: 0;
}
.c-dashboard {
  padding: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
}
</style>
