<template>
  <v-container>
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <template v-if="!loadingState">
      <!-- <recipes :category="category" /> -->
      <filters
        :types="producerTypes"
        @searchByText="findByTextSearch"
        @searchByPostcode="findByPostcode"
        @searchByProduce="findByProduce"
        @reset="clearAllFilters"
        :selected="produceSelected"
        :categories="categoryTypes"
        :usePostcode="true"
      />
      <div class="map-container">
        <v-select
          class="filter__radius"
          v-model="select"
          dense
          solo
          :items="items"
          item-text="radiusTitle"
          item-value="radius"
          label="Select distance from location"
          @change="findByDistance"
          return-object
        ></v-select>

        <!--  could this be a separate component -->
        <div class="c-info-window">
          <template v-if="infoWindow.companyName">
            <h4 class="pb-4">{{ infoWindow.companyName }}</h4>
            <p v-html="infoWindow.description"></p>
            <v-btn
              color="#524064"
              class="white--text align-self-end"
              @click="goTo(infoWindow)"
              >Read more</v-btn
            >
          </template>
          <h4 class="c-info-window__instructions" v-else>
            Click on a marker to view information
          </h4>
        </div>
        <google-maps
          :markers="mapMarkers"
          :info="infoWindow"
          :center="center"
          :directions="true"
          @showWindowInfo="showInfo"
        />
      </div>
      <h6 class="text-h6 mt-4 mb-4">{{ producers.length }} results</h6>
      <div class="" v-if="producers.length === 0">
        <p class="text-h6">
          There no results based on your search. Please filter using different
          criteria
        </p>
      </div>
      <div
        else
        class="c-card__wrapper"
        v-for="(producer, index) in paginatedDataWithTruncatedDesc"
        :key="index"
      >
        <producer-list-container :producer="producer" />
      </div>
      <template v-if="paginatedDataWithTruncatedDesc.length >= 5">
        <v-pagination
          v-model="pageNumber"
          color="#e3ae51"
          :length="paginationLength"
          :total-visible="5"
          @input="nextPage"
        ></v-pagination>
      </template>
    </template>
  </v-container>
</template>

<script lang="ts">
import MenuItems from "@/components/menu/menu-items.vue";
import EmptyState from "@/components/empty-state/empty-state.vue";
import Recipes from "@/components/recipes/recipes.vue";
import { Vue, Component } from "vue-property-decorator";
import { mapGetters } from "vuex";
import Filters from "@/components/filters/filters.vue";
import GmapCluster from "vue2-google-maps/dist/components/cluster";
import ProducerListContainer from "@/components/producers-list/producers-list.vue";
import GoogleMaps from "@/components/map-component/map-container.vue";
import axios from "axios";
import { IProducer, IProducerLocation } from "../models/models";
import store from "../store/index";
// TODO:
// Only show first 5 of pagination then ...

// Add short description/ elipsis for descriptions. Look at styling of descriptions
// Add loading component for each screen
// add tooltips to side menu rather than names
// need to look at new menu
// need to look at different way of filtering
// customise google maps. Look and markers would be great
// Create routing guards. Only go to dashboard if logged in
// refactor home component
// Add go to dashboard if listed item is yours and signed in
// Search by category Shop, Butcher, Grocers, Fishmonger, Home produce
// Search by postcode
// Look at membership countdown
// Look at creating distance from
// Button to show and hide map
// Think about membership type on producer page (dropdown)
// Editing and amending details (description, name, address, logo)
@Component({
  components: {
    MenuItems,
    EmptyState,
    Recipes,
    ProducerListContainer,
    GoogleMaps,
    GmapCluster,
    Filters,
  },
  metaInfo: {
    // title will be injected into parent titleTemplate
    title: "Lovely Larder - Home",
    meta: [
      {
        name: "description",
        vmid: "description",
        content: "Lovely Larder helping to support local producers",
      },
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      },
    ],
  },
  computed: mapGetters([
    "loadingState",
    "user",
    "mapMarkers",
    "producerTypes",
    "producers",
  ]),
})
export default class Home extends Vue {
  // producers: IProducer[] = [];
  allProducers: IProducer[] = [];
  produceSelected = false;
  // categoryFilters: any = [];
  produceTypes: { value: string; text: string }[] = [];
  categoryTypes: string[] = [];
  showFilters = false; // maybe
  postcode = "";
  infoWindow: {
    companyName: string;
    position: { lat: number; lng: number };
  } = {
    companyName: "",
    position: { lat: 0, lng: 0 },
  };
  markers: Array<{
    position: {
      lat: number;
      lng: number;
    };
  }> = [];
  center = { lat: 0, lng: 0 };
  select: { radius: number; radiusTitle: string } = {
    radius: 0,
    radiusTitle: "",
  };
  produceType: { type: string; category: string } = { type: "", category: "" };
  items = [
    { radius: 8100, radiusTitle: "5 miles" },
    { radius: 16200, radiusTitle: "10 miles" },
    { radius: 24200, radiusTitle: "15 miles" },
    { radius: 32200, radiusTitle: "20 miles" },
  ];
  category = "";
  pageNumber = 1;
  size = 5;
  // selected: any = [];

  subFilters = [
    {
      beef: [
        {
          value: "grass_fed",
          text: "grass fed",
          selected: true,
        },
        {
          value: "award_winning",
          text: "award winning",
          selected: true,
        },
        {
          value: "organic",
          text: "organic",
          selected: false,
        },
      ],
    },
    {
      lamb: [
        {
          value: "grass_fed",
          text: "grass fed",
          selected: false,
        },
        {
          value: "award_winning",
          text: "award winning",
          selected: false,
        },
        {
          value: "organic",
          text: "organic",
          selected: false,
        },
      ],
    },
  ];

  get paginatedDataWithTruncatedDesc(): IProducer[] {
    return this.paginatedData.map((item) => ({
      ...item,
      description:
        item.description?.length > 100
          ? `${item.description.slice(0, 180)}...`
          : item.description,
    }));
  }

  get paginationLength(): number {
    return Math.round(store.getters.producers.length / this.size);
  }

  get paginatedData(): IProducer[] {
    const start = this.pageNumber * this.size - this.size;
    const end = start + this.size;
    return this.allProducers.slice(start, end);
  }

  get pageCount(): number {
    let l = store.state.producers.length,
      s = this.size;
    return Math.ceil(l / s) - 1;
  }

  findByPostcode(postcode: string): void {
    const producers = store.getters.producers.filter((producer) => {
      return producer.postcode
        .replace(/\s/g, "")
        .toLowerCase()
        .includes(postcode.toLowerCase());
    });
    store.dispatch("addMarkers", producers);
    this.locationByPostcode(postcode);
  }

  // findByCategory(
  //   val: {
  //     text: string;
  //     value: string;
  //     selected: boolean;
  //   }[]
  // ): void {
  //   this.categoryFilters = [];
  //   this.producers.map((producer) => {
  //     return producer.category.filter((cat) => {
  //       val.filter((x) => {
  //         if (x.text === cat) {
  //           this.categoryFilters.push(producer);
  //         }
  //       });
  //     });
  //   });
  //   this.categoryFilters = [...new Set(this.categoryFilters)];
  //   this.producers = this.categoryFilters;
  //   this.addMarkers(this.producers);

  //   if (!this.selected.length) {
  //     this.producers = store.getters.producers;
  //     this.produceSelected = false;
  //     this.produceTypes = [];
  //   }
  // }

  findByProduce(produce: { text: string; value: string }): void {
    // this.selected = [];
    this.produceSelected = true;
    const producers = store.getters.producers.filter((producer) =>
      producer.type.some((item) => item === produce.value)
    );
    store.dispatch("addMarkers", producers);
    this.getCategoryTypes(produce.value);
  }

  findByDistance(): void {
    this.produceSelected = false;
    // this.selected = [];
    this.produceTypes = [];
    this.categoryTypes = [];
    const producers = store.getters.producers.filter((p) => {
      return this.check(p, this.center, this.select?.radius);
    });
    store.dispatch("addMarkers", producers);
  }

  findByTextSearch(search: string): void {
    const producers = store.getters.producers.filter((p) =>
      p.companyName.toLowerCase().includes(search.toLowerCase())
    );
    store.dispatch("addMarkers", producers);
  }

  getCategoryTypes(value: string): void {
    this.categoryTypes = this.subFilters
      .filter((sub) => {
        return sub[value] !== undefined;
      })
      .map((item) => item[value])[0];
  }

  showInfo(item: IProducerLocation): void {
    this.infoWindow = item;
  }

  firstLetterFromTitle(value: string): string {
    return value;
  }

  nextPage(page: number): void {
    this.pageNumber = page;
  }

  goTo(producer: IProducer): void {
    this.$router.push(`/producer/${producer.companyName}/${producer.id}`);
  }

  async populateProducers(): Promise<void> {
    // TODO: Look at only making this request if store not already populated
    if (!this.$store.state.producers.length) {
      this.$store
        .dispatch("getCompanies")
        .then((companies) => (this.allProducers = companies));
    } else {
      this.allProducers = this.$store.state.producers;
    }
  }

  geolocate(): void {
    navigator.geolocation.getCurrentPosition((position) => {
      this.center = {
        lat: Number(position.coords.latitude),
        lng: Number(position.coords.longitude),
      };
      if (this.center) {
        this.$store.commit("SET_LOCATION", this.center);
      }
    });
  }

  clearAllFilters(): void {
    // this.selected = [];
    this.infoWindow.companyName = "";
    this.infoWindow = {
      companyName: "",
      position: { lat: 0, lng: 0 },
    };
    this.produceSelected = false;
    this.produceTypes = [];
    this.categoryTypes = [];
    this.select = { radius: 0, radiusTitle: "" };

    store.dispatch("addMarkers", store.getters.producers);
  }

  // TODO: Look at google maps api request to see if there is anything else we can pass on create of producer (eg: county)
  async locationByPostcode(postcode: string): Promise<void> {
    const postcodeRegex =
      "^([A-Za-z][A-Ha-hJ-Yj-y]?[0-9][A-Za-z0-9]? ?[0-9][A-Za-z]{2}|[Gg][Ii][Rr] ?0[Aa]{2})$";
    const found = postcode.match(postcodeRegex);
    if (found) {
      try {
        const { data } = await axios.get(
          `https://maps.googleapis.com/maps/api/geocode/json?address=${this.postcode}&key=AIzaSyDg0qe-o5o6Nz4i3sMeLhyjXxisJd1CBiI`
          // `https://maps.googleapis.com/maps/api/geocode/json?latlng=${this.producers[4].lat},${this.producers[4].lng}&key=AIzaSyDg0qe-o5o6Nz4i3sMeLhyjXxisJd1CBiI`
        );
        if (data.error_message) {
          console.error(data.error_message);
        } else {
          this.center = {
            lat: data.results[0].geometry.location.lat,
            lng: data.results[0].geometry.location.lng,
          };
        }
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
      } catch (error: any) {
        console.error(error.message);
      }
    }
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  check(
    marker: IProducer,
    circle: { lat: number; lng: number },
    radius: number
  ): boolean {
    const km = radius / 1000;
    const kx = Math.cos((Math.PI * circle.lat) / 180) * 111;
    const dx = Math.abs(circle.lng - parseFloat(marker.lng)) * kx;
    const dy = Math.abs(circle.lat - parseFloat(marker.lat)) * 111;
    return Math.sqrt(dx * dx + dy * dy) <= km;
  }

  created(): void {
    this.geolocate();
    this.populateProducers();
  }
}
</script>
<style lang="scss">
// TODO: Look at fixing map so that people can scroll and view markers at the same time
// .vue-map-container {
//   position: fixed;
//   width: 100%;
//   height: 400px;
// }
.container {
  @media only screen and (min-width: 960px) {
    max-width: 95%;
  }
}
.c-container {
  max-width: 95%;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.spinner {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 50px);
  margin: 0 auto;
}

.c-info-window {
  background-color: #fff;
  width: 35%;
  z-index: 100;
  padding: 10px;
  margin-right: 20px;

  &__instructions {
    padding: 50px 0;
    text-align: center;
    margin: 0 auto;
  }

  h4 {
    width: 50%;
  }

  @media only screen and (max-width: 730px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.map-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 700px;

  @media only screen and (max-width: 730px) {
    flex-direction: column;
    height: 450px;
  }

  .vue-map-container {
    flex: 1;

    @media only screen and (max-width: 730px) {
      flex: unset;
      width: 100%;
    }
  }

  .filter__radius {
    position: absolute;
    right: 10px;
    z-index: 999;
    margin-top: 11px !important;

    @media only screen and (max-width: 730px) {
      position: relative;
      right: 0;
    }
  }
}

.producer-search {
  .v-input__prepend-outer {
    // TODO: This is a quick fix not sure if this is right
    display: none !important;
  }
}

.v-banner {
  flex: 1 1 0px;
}

.v-list-item__title {
  // TODO change miles in distance filter to not be capitalized
  text-transform: capitalize;
}

:v-deep .v-pagination__item--active {
  background-color: red;
}

.type-dropdown {
  .v-list-item__title {
    text-transform: capitalize;
  }
}

.c-card {
  display: flex !important;
  &__wrapper {
    margin: 1em 0;
  }

  &__logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 100%;
    min-height: 120px;
    width: 120px;
    min-width: 120px;
  }
}
</style>
