<!-- eslint-disable no-irregular-whitespace -->
<template>
  <div class="container">
    <div class="c-container pa-4 my-4">
      <h1 class="title">Introduction</h1>
      <p>
        This Privacy Policy outlines Lovely Larder (" we ", " our " or " the
        Company ") practices with respect to information collected from users
        who access our website at lovelylarder.co.uk (" Site ") or otherwise
        share personal information with us (collectively: " Users ").
      </p>
      <h1 class="title">Grounds for data collection</h1>
      <p>
        Processing of your personal information (i.e. any information which may
        potentially allow your identification through reasonable means;
        hereinafter " Personal Information ") is necessary for the performance
        of our contractual obligations towards you and providing you with our
        services, to protect our legitimate interests and for compliance with
        legal and financial regulatory obligations to which we are subject.​
      </p>
      <p>
        When you use the Site, you consent to the collection, storage, use,
        disclosure and other uses of your Personal Information as described in
        this Privacy Policy.
      </p>
      <p>
        ​We encourage our Users to carefully read the Privacy Policy and use it
        to make informed decisions.
      </p>
      <h1 class="title">What information do we collect?</h1>
      <p>We collect two types of data and information from Users.</p>
      <p>
        The first type of information is un-identified and non-identifiable
        information pertaining to a User(s), which may be made available or
        gathered via your use of the Site (“ Non-personal Information ”). We are
        not aware of the identity of a User from which the Non-personal
        Information was collected. Non-personal Information which is being
        collected may include your aggregated usage information and technical
        information transmitted by your device, including certain software and
        hardware information (e.g. the type of browser and operating system your
        device uses, language preference, access time, etc.) in order to enhance
        the functionality of our Site. We may also collect information about
        your activity on the Site (e.g. pages viewed, online browsing, clicks,
        actions, etc.).
      </p>
      <p>
        The second type of information is Personal Information which is
        individually identifiable information, namely information that
        identifies an individual or may, with reasonable effort, identify an
        individual. Such information includes:
      </p>
      <ul>
        <li>
          Device Information: We collect Personal Information from your device.
          Such information includes geolocation data, IP address, unique
          identifiers (e.g. MAC address and UUID) and other information which
          relates to your activity through the Site.
        </li>
        <li>
          Registration information: When you register with our Site you will be
          asked to provide us with certain details such as: full name; email or
          physical address, and other information.
        </li>
      </ul>
      <h1 class="title">How do we receive information about you?</h1>
      <p>We receive your Personal Information from various sources:</p>
      <ul>
        <li>
          When you voluntarily provide us with your personal details in order to
          register on our Site;
        </li>
        <li>
          When you use or access our Site in connection with your use of our
          services;
        </li>
        <li>
          From third-party providers, services and public registers (for
          example, traffic analytics vendors).
        </li>
      </ul>
      <h1 class="title">What information do we collect?</h1>
      <p>
        We do not rent, sell or share Users’ information with third parties,
        except as described in this Privacy Policy.
      </p>
      <p>We may use the information for the following:</p>
      <ul>
        <li>
          Communicating with you – sending you notices regarding our services,
          providing you with technical information and responding to any
          customer service issue you may have;
        </li>
        <li>
          To communicate with you and to keep you informed about our latest
          updates and services;
        </li>
        <li>
          To serve you advertisements when you use our Site (see more under
          "Advertisements");
        </li>
        <li>
          To market our websites and products (see more under "Marketing");
        </li>
        <li>
          For statistical and analytical purposes, intended to improve the Site.
        </li>
      </ul>
      <p>
        In addition to the different uses listed above, we may transfer or
        disclose Personal Information to our subsidiaries, affiliated companies
        and subcontractors.
      </p>
      <p>
        In addition to the purposes listed in this Privacy Policy, we may share
        Personal Information with our trusted third-party providers, who may be
        located in different jurisdictions across the world, for any of the
        following purposes:
      </p>
      <ul>
        <li>Hosting and operating our Site;</li>
        <li>
          Providing you with our services, including providing a personalised
          display of our Site;
        </li>
        <li>Storing and processing such information on our behalf;</li>
        <li>
          Serving you with advertisements and to assist us in evaluating the
          success of our advertising campaigns and help us retarget any of our
          users;
        </li>
        <li>
          Providing you with marketing offers and promotional materials related
          to our Site and services;
        </li>
        <li>Performing research, technical diagnostics or analytics;</li>
        <li></li>
      </ul>
      <p>
        We may also disclose information if we have good reason to believe that
        disclosure of such information is helpful or reasonably necessary to:
      </p>
      <ul class="pb-4">
        <li>
          (i) comply with any applicable law, regulation, legal process or
          governmental request;
        </li>
        <li>
          (ii) enforce our policies (including our Agreement), including
          investigations of potential violations thereof;
        </li>
        <li>
          (iii) investigate, detect, prevent or take action regarding illegal
          activities or other wrongdoing, suspected fraud or security issues;
        </li>
        <li>
          (iv) to establish or exercise our rights to defend against legal
          claims;
        </li>
        <li>
          (v) prevent harm to the rights, property or safety of us, our users,
          yourself or any third party;
        </li>
        <li>
          or (vi) for the purpose of collaborating with law enforcement agencies
          and/or in case we find it necessary in order to enforce intellectual
          property or other legal rights.
        </li>
      </ul>

      <h1 class="title">User Rights</h1>
      <p>You may request to:</p>
      <ul>
        <li>
          Receive confirmation as to whether or not personal information
          concerning you is being processed and access your stored personal
          information, together with supplementary information.
        </li>
        <li>
          Receive a copy of personal information you directly volunteer to us in
          a structured, commonly used and machine-readable format.
        </li>
        <li>
          Request rectification of your personal information that is in our
          control.
        </li>
        <li>Request erasure of your personal information. by us.</li>
        <li>Object to the processing of personal information</li>
        <li>
          Request to restrict processing of your personal information by us.
        </li>
        <li>Lodge a complaint with a supervisory authority.</li>
      </ul>
      <p>
        However, please note that these rights are not absolute and may be
        subject to our own legitimate interests and regulatory requirements.
      </p>
      <p>
        If you wish to exercise any of the above rights or receive more
        information, please contact our Data Protection Officer (“DPO”) using
        the details provided below:
      </p>
      <span class="font-weight-bold">info@lovelylarder.co.uk</span>
      <h1 class="title pt-4">Retention</h1>
      <p>
        We will retain your personal information for as long as necessary to
        provide our services, and as necessary to comply with our legal
        obligations, resolve disputes and enforce our policies. Retention
        periods will be determined taking into account the type of information
        that is collected and the purpose for which it is collected, bearing in
        mind the requirements applicable to the situation and the need to
        destroy outdated, unused information at the earliest reasonable
        opportunity. Under applicable regulations, we will keep records
        containing client personal data, account opening documents,
        communications and anything else as required by applicable laws and
        regulations.
      </p>
      <p>
        We may rectify, replenish or remove incomplete or inaccurate
        information, at any time and at our own discretion.
      </p>

      <h1 class="title">Cookies Policy</h1>
      <p>
        We and our trusted partners use cookies and other technologies in our
        related services, including when you visit our Site or access our
        services.
      </p>
      <p>
        A "cookie" is a small piece of information that a website assigns to
        your device while you are viewing a website. Cookies are very helpful
        and can be used for various different purposes. These purposes include
        allowing you to navigate between pages efficiently, enabling automatic
        activation of certain features, remembering your preferences and making
        the interaction between you and our Services quicker and easier. Cookies
        are also used to help ensure that the advertisements you see are
        relevant to you and your interests and to compile statistical data on
        your use of our Services.
      </p>
      <p>The Site uses the following types of cookies:</p>
      <ul>
        <li>
          a. 'session cookies' which are stored only temporarily during a
          browsing session in order to allow normal use of the system and are
          deleted from your device when the browser is closed;
        </li>
        <li>
          ​ b. 'persistent cookies ' which are read only by the Site, saved on
          your computer for a fixed period and are not deleted when the browser
          is closed. Such cookies are used where we need to know who you are for
          repeat visits, for example to allow us to store your preferences for
          the next sign-in;
        </li>
        <li>
          ​ c. 'third-party cookies' which are set by other online services who
          run content on the page you are viewing, for example by third-party
          analytics companies who monitor and analyse our web access.
        </li>
      </ul>
      <p>
        Cookies do not contain any information that personally identifies you,
        but Personal Information that we store about you may be linked, by us,
        to the information stored in and obtained from cookies. You may remove
        the cookies by following the instructions of your device preferences;
        however, if you choose to disable cookies, some features of our Site may
        not operate properly and your online experience may be limited.
      </p>
      <p>
        We also use a tool called “Google Analytics” to collect information
        about your use of the Site. Google Analytics collects information such
        as how often users access the Site, which pages they visit, when they do
        so, etc. We use the information we obtain from Google Analytics only to
        improve our Site and services. Google Analytics collects the IP address
        assigned to you on the date you visit sites, rather than your name or
        other identifying information. We do not combine the information
        collected through the use of Google Analytics with personally
        identifiable information. Google’s ability to use and share information
        collected by Google Analytics about your visits to this Site is
        restricted by the Google Analytics Terms of Use and the Google Privacy
        Policy.
      </p>
      <h1 class="title">Third-party collection of information</h1>
      <p>
        Our policy only addresses the use and disclosure of information we
        collect from you. To the extent you disclose your information to other
        parties or sites throughout the internet, different rules may apply to
        their use or disclosure of the information you disclose to them.
        Accordingly, we encourage you to read the terms and conditions and
        privacy policy of each third party that you choose to disclose
        information to.
      </p>
      <p>
        This Privacy Policy does not apply to the practices of companies that we
        do not own or control, nor to individuals whom we do not employ or
        manage, including any of the third parties which we may disclose
        information to as set out in this Privacy Policy.
      </p>
      <h1 class="title">How do we safeguard your information?</h1>
      <p>
        We take great care in implementing and maintaining the security of the
        Site and your information. Although we take reasonable steps to
        safeguard information, we cannot be responsible for the acts of those
        who gain unauthorised access or abuse our Site, and we make no warranty,
        express, implied or otherwise, that we will prevent such access.
      </p>

      <h1 class="title">Transfer of data outside the EEA</h1>
      <p>
        Please note that some data recipients may be located outside the EEA. In
        such cases we will transfer your data only to such countries as approved
        by the European Commission as providing adequate level of data
        protection, or enter into legal agreements ensuring an adequate level of
        data protection.
      </p>

      <h3 class="subtitle">Advertisements</h3>
      <p>
        We may use a third-party advertising technology to serve advertisements
        when you access the Site. This technology uses your information with
        regards to your use of the Services to serve advertisements to you
        (e.g., by placing third-party cookies on your web browser). ​ You may
        opt out of many third-party ad networks, including those operated by
        members of the Network Advertising Initiative ("NAI") and the Digital
        Advertising Alliance ("DAA"). For more information about this practice
        by NAI and DAA members, and your choices regarding having this
        information used by these companies, including how to opt-out of
        third-party ad networks operated by NAI and DAA members, please visit
        their respective websites: http://optout.networkadvertising.org/#!/ and
        http://optout.aboutads.info/#!/.
      </p>

      <h1 class="title">Marketing</h1>
      <p>
        We may use your Personal Information such as your name, email address,
        telephone number, etc., ourselves or by using our third-party
        subcontractors, for the purpose of providing you with promotional
        materials concerning our services which we believe may interest you. ​
      </p>
      <p>
        To respect your right to privacy, within such marketing materials we
        provide you with the means to opt out of receiving further marketing
        offers from us. If you unsubscribe, we will remove your email address or
        telephone number from our marketing distribution lists.
      </p>
      <p>
        Please note that even if you have unsubscribed from receiving marketing
        emails from us, we may send you other types of important email
        communications without offering you the opportunity to opt out of
        receiving them. These may include customer service announcements or
        administrative notices.
      </p>
      <h1 class="title">Corporate transaction</h1>
      <p>
        We may share information in the event of a corporate transaction (e.g.
        sale of a substantial part of our business, merger, consolidation or
        asset sale). In the event of the above, the transferee or acquiring
        company will assume the rights and obligations as described in this
        Privacy Policy.
      </p>
      <h1 class="title">Minors</h1>
      <p>
        We understand the importance of protecting children’s privacy,
        especially in an online environment. The Site is not designed for or
        directed at children. Under no circumstances shall we allow the use of
        our services by minors without prior consent or authorisation by a
        parent or legal guardian. We do not knowingly collect Personal
        Information from minors. If a parent or guardian becomes aware that his
        or her child has provided us with Personal Information without their
        consent, he or she should contact us at
        <span class="font-weight-bold">info@mylovelylarder.co.uk</span>​.
      </p>
      <h1 class="title">Updates or amendments to this Privacy Policy</h1>
      <p>
        We reserve the right to periodically amend or revise the Privacy Policy;
        material changes will be effective immediately upon the display of the
        revised Privacy policy. The last revision will be reflected in the "Last
        modified" section. Your continued use of the Platform, following the
        notification of such amendments on our website, constitutes your
        acknowledgement and consent of such amendments to the Privacy Policy and
        your agreement to be bound by the terms of such amendments.
      </p>
      <h1 class="title">How to contact us</h1>
      <p>
        If you have any general questions about the Site or the information we
        collect about you and how we use it, you can contact us at
        <span class="font-weight-bold">info@mylovelylarder.co.uk</span>.
      </p>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({
  metaInfo: {
    title: "Lovely Larder - Privacy Policy",
    meta: [
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, community, surplus, food waster, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      },
      {
        vmid: "description",
        name: "description",
        content:
          "The Lovely Larder privacy policy explains all you need to know about our policies and how to get in touch with us if you have any questions.",
      },
    ],
  },
})
export default class extends Vue {
  /**
   * Props
   **/
  /**
   * Data
   **/
  /**
   * Computed Properties
   **/
  // store state and getters
  // other computed properties
  /**
   * Methods
   **/
  // store mutations and actions
  // other methods
  // lifecycle methods
}
</script>
<style lang="scss" scoped></style>
