<template>
  <div class="container">
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <div class="c-container pa-4 my-4" v-if="!loadingState">
      <h1 class="pb-4">Items being shared</h1>
      <!-- <template v-if="shareableItems.length"> -->
      <google-maps :markers="markers" :center="center" :changeHeight="true" />
      <filters
        :types="items"
        :categories="sharedItemType"
        @searchByText="findByTextSearch"
        @searchByProduce="findByType"
        @reset="clearAll"
      />
      <div class="row">
        <div
          v-for="(item, index) in shareableItems"
          class="col col-4"
          :key="index"
          @click="goToItem(item)"
        >
          <v-card class="c-share-item-list__card pb-4">
            <template v-if="item.image">
              <v-img
                class="white--text align-end"
                height="200px"
                :src="item.image"
              >
              </v-img>
            </template>
            <v-card-subtitle class="pb-0"
              >{{ item.username }} is sharing some</v-card-subtitle
            >
            <v-card-title class="py-0">
              {{ item.itemName }}
            </v-card-title>
            <span class="px-4 mb-4">
              added
              <span v-if="item.added > 0">{{ item.added }}days ago</span>
              <span v-else>today</span>
            </span>
          </v-card>
        </div>
      </div>
      <!-- </template> -->
      <!-- <v-alert
        v-else
        class="mt-4"
        border="right"
        colored-border
        type="warning"
        elevation="2"
        color="warning"
        >No items currently being shared</v-alert
      > -->
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import GmapCluster from "vue2-google-maps/dist/components/cluster";
import dayjs from "dayjs";
import GoogleMaps from "@/components/map-component/map-container.vue";
import Filters from "@/components/filters/filters.vue";

@Component({
  components: { GmapCluster, GoogleMaps, Filters },
})
export default class ShareItemList extends Vue {
  center = { lat: 0, lng: 0 };
  // items = [];
  sharedItemType = { value: "", text: "" };
  shareableItems = [];
  markers: Array<{
    position: {
      lat: number;
      lng: number;
    };
  }> = [];
  items = [
    { value: "", text: "All" },
    { value: "food", text: "Food" },
    { value: "non-food", text: "Non food" },
  ];

  get loadingState(): boolean {
    return this.$store.state.loadingState;
  }

  get itemsToShare(): [] {
    const items = this.$store.state.itemsToShare.map((item: any) => {
      const today = dayjs();
      const dateAdded = dayjs(item.dateAdded);
      const diff = today.diff(dateAdded, "day");
      item.added = diff;
      return item;
    });

    if (this.sharedItemType.value) {
      return items.filter((item) => item.value === this.sharedItemType.value);
    } else {
      return items;
    }
  }

  get hasPosition(): boolean {
    return (
      this.$store.state.location &&
      Object.keys(this.$store.state.location).length === 0 &&
      Object.getPrototypeOf(this.$store.state.location) === Object.prototype
    );
  }

  goToItem(item): void {
    this.$router.push(`/shared-item/${item.id}`);
  }

  findByTextSearch(search: string): void {
    this.shareableItems = this.itemsToShare.filter((p: any) =>
      p.itemName.toLowerCase().includes(search.toLowerCase())
    );
    this.addMarkers(this.shareableItems);
  }

  findByType(selectedItem: { value: string; text: string }): void {
    this.shareableItems = this.itemsToShare.filter((item: any) => {
      if (selectedItem.value) {
        return item.type === selectedItem.value;
      } else {
        return this.itemsToShare;
      }
    });
    this.addMarkers(this.shareableItems);
  }

  addMarkers(array: Array<any>): void {
    const markers: Array<{
      position: {
        lat: number;
        lng: number;
      };
    }> = [];
    array.forEach((element) => {
      const marker: {
        id: string;
        description: string;
        position: {
          lat: number;
          lng: number;
        };
      } = {
        id: element.id,
        description: element.description,
        position: {
          lat: parseFloat(element.lat),
          lng: parseFloat(element.lng),
        },
      };
      markers.push(marker);
    });
    this.markers = markers;
  }

  clearAll(): void {
    this.shareableItems = this.itemsToShare;
    this.addMarkers(this.shareableItems);
  }

  // requestItem(item): void {
  //   console.log(item);
  //   this.replying = true;
  //   this.item = {
  //     createdId: item.userId,
  //     receiverId: this.$store.state.userInfo.id,
  //     dateCreated: dayjs().format("DD/MM/YYYY"),
  //     message: this.reply,
  //     itemId: item.id,
  //     itemName: item.itemName,
  //   };
  // }

  // sendResponse(): void {
  //   if (this.userLoggedIn) {
  //     console.log(this.item);
  //   } else {
  //     this.showError = true;
  //     this.warningMessage =
  //       "Please login if you have an account or create one.";
  //   }
  // }

  // getItemLocation(): void {
  //   this.itemsToShare.forEach((item) => {
  //     let itemsWithAddress = [];
  //     try {
  //       const data = axios
  //         .get(
  //           `https://maps.googleapis.com/maps/api/geocode/json?latlng=${item.lat},${item.lng}&key=AIzaSyDg0qe-o5o6Nz4i3sMeLhyjXxisJd1CBiI`
  //         )
  //         .then((location) => {
  //           console.log(location.data.results[0].formatted_address);
  //           this.itemsToShare.map((item: any) => {
  //             return {
  //               id: item.id,
  //               itemName: item.itemName,
  //               userId: item.userId,
  //               dateAdded: item.dateAdded,
  //               quantity: item.quantity,
  //               image: item.image,
  //               lat: item.lat,
  //               lng: item.lng,
  //               useByDate: item.useByDate,
  //               username: item.username,
  //               address: location.data.results[0].formatted_address,
  //             };
  //           });
  //           console.log(itemsWithAddress);
  //         });
  //       console.log(data);
  //     } catch (error) {
  //       console.error(error);
  //     }
  //   });
  //   console.log(this.$store.state.itemsToShare);
  // }

  geolocate(): void {
    navigator.geolocation.getCurrentPosition((position) => {
      this.center = {
        lat: Number(position.coords.latitude),
        lng: Number(position.coords.longitude),
      };
      if (this.center) {
        this.$store.commit("SET_LOCATION", this.center);
      }
    });
  }

  createMarkers(markers: any): any {
    return markers.map((element: { lat: string; lng: string }) => {
      return {
        position: {
          lat: parseFloat(element.lat),
          lng: parseFloat(element.lng),
        },
      };
    });
  }

  created(): void {
    console.log(this.markers);
    this.hasPosition
      ? (this.center = this.$store.state.location)
      : this.geolocate();

    if (!this.itemsToShare.length) {
      this.$store.state.loadingState = true;
      this.$store
        .dispatch("getItemsToShare")
        .then((items) => {
          this.shareableItems = items;
          this.$store.state.loadingState = false;
          this.markers = this.createMarkers(items);
        })
        .catch((err) => console.error(err));
    } else {
      console.log("something");
      this.shareableItems = this.itemsToShare;
      this.markers = this.createMarkers(this.shareableItems);
    }
  }
}
</script>
<style lang="scss" scoped>
.c-share-item-list {
  &__card {
    cursor: pointer;
  }
}
</style>
