<template>
  <div class="container">
    <div class="c-container pa-4 my-4">
      <h1 class="title">
        {{ item.username }} is giving away {{ item.itemName }}
      </h1>
      <p class="mb-0">{{ item.description }}</p>
      <p v-if="item.pickUpTime" class="mb-0">
        Pick up time: {{ item.pickUpTime }}
      </p>
      <h2 class="title"></h2>
      <h2 class="title">{{ item.description }}</h2>
      <h2 class="title">{{ item.pickUpInformation }}</h2>
      <v-btn class="btn my-4" @click="request">Request</v-btn>

      <google-maps :markers="markers" :center="center" :changeHeight="true" />

      <v-alert
        class="mt-4"
        border="right"
        colored-border
        type="warning"
        elevation="2"
        color="warning"
        v-if="!userLoggedIn && showError"
        >{{ warningMessage }}</v-alert
      >
      <v-alert
        class="mt-4"
        border="right"
        colored-border
        type="success"
        elevation="2"
        color="success"
        v-if="requestSent"
        >You're request for {{ item.itemName }} from {{ item.username }} has
        been sent</v-alert
      >
      <div v-if="replying">
        <v-text-field v-model="message"></v-text-field>
        <v-btn class="btn" @click="sendRequest">Send</v-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import dayjs from "dayjs";
import GoogleMaps from "@/components/map-component/map-container.vue";

@Component({
  components: {
    GoogleMaps,
  },
})
export default class SharedItem extends Vue {
  item: any = null;
  showError = false;
  message = "";
  warningMessage = "";
  replying = false;
  center = { lat: 0, lng: 0 };
  markers: Array<{
    position: {
      lat: number;
      lng: number;
    };
  }> = [];

  get requestSent(): boolean {
    return this.$store.state.alertMessage;
  }

  get userLoggedIn(): boolean {
    return this.$store.state.user.loggedIn;
  }

  get threadId(): string {
    return (Math.random() + 1).toString(36).substring(2);
  }

  request(): void {
    this.replying = true;
  }

  sendRequest(): void {
    // create better message structure
    if (this.userLoggedIn) {
      const sender = {
        firstName: this.$store.state.userInfo.firstName,
        lastName: this.$store.state.userInfo.lastName,
        id: this.$store.state.userInfo.id,
      };

      const name = this.item.username.split(" ");
      const receiver = {
        firstName: name[0].firstName,
        lastName: name[1].lastName,
        id: this.item.userId,
      };

      const item = {
        created: dayjs().format("L LT"),
        // todo: need to look at changing user from array to object
        users: [sender, receiver],
        messages: [
          {
            threadId: this.threadId,
            message: this.message,
            sender: sender,
            created: dayjs().format("L LT"),
            read: false,
            itemName: this.item.itemName,
          },
        ],
      };
      this.$store.dispatch("sendMessage", item);
      this.replying = false;
    } else {
      this.showError = true;
      this.warningMessage =
        "Please login if you have an account or create one.";
    }
  }

  addMarker(): void {
    this.center = {
      lat: Number(this.item.lat),
      lng: Number(this.item.lng),
    };
    const marker: { lat: number; lng: number } = {
      lat: Number(this.item.lat),
      lng: Number(this.item.lng),
    };
    this.markers.push({ position: marker });
  }

  created(): void {
    this.item = this.$store.state.itemsToShare.find(
      (item) => item.id === this.$route.params.id
    );
    this.addMarker();
  }

  destroyed(): void {
    this.$store.commit("ALERT_MESSAGE", false);
  }
}
</script>
<style lang="scss" scoped></style>
