<template>
  <v-container>
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <div class="c-container pa-4 my-4" v-if="!loadingState">
      <h1 class="pb-4">{{ producer.companyName }}</h1>
      <p v-html="producer.description"></p>
      <v-card-text>
        <google-maps
          :center="center"
          :markers="markers"
          :changeHeight="true"
          :directions="false"
        />
        <v-btn class="mr-4 mt-4 mb-4" @click="addReview = !addReview">{{
          addReview ? "Close" : "Add a review"
        }}</v-btn>
        <add-review v-if="addReview" :company-name="producer.companyName" />
        <review-stats v-if="hasReviews" :reviews="reviews" />
        <v-btn
          class="mt-4 mb-4"
          v-if="hasReviews"
          @click="viewAllReviews = !viewAllReviews"
          >{{ viewAllReviews ? "Hide reviews" : "Show all reviews" }}</v-btn
        >
        <template v-if="viewAllReviews">
          <all-reviews v-if="hasReviews" :reviews="reviews" />
        </template>
      </v-card-text>
    </div>
  </v-container>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import AddReview from "@/components/add-review/add-review.vue";
import ReviewStats from "@/components/review-stats/review-stats.vue";
import AllReviews from "@/components/all-reviews/all-reviews.vue";
import GoogleMaps from "@/components/map-component/map-container.vue";

@Component({
  components: { AddReview, ReviewStats, AllReviews, GoogleMaps },
  metaInfo() {
    return {
      title: `Lovely Larder - ${this.$route.params.name}`,
      meta: [
        { name: "robots", content: "index,follow" },
        {
          vmid: "description",
          name: "description",
          content: `${this.$data.truncatedDescription}`,
        },
        {
          name: "keywords",
          content:
            "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
        },
      ],
    };
  },
})
export default class ProducerItemContainer extends Vue {
  producer: {
    companyName: string;
    description: string;
    lat: string;
    lng: string;
  } = {
    companyName: "",
    description: "",
    lat: "",
    lng: "",
  };
  truncatedDescription = "";
  center = {};
  markers: Array<{ position: { lat: number; lng: number } }> = [];
  addReview = false;
  viewAllReviews = false;
  // reviews: Array<{
  //   author: string;
  //   companyName: string;
  //   date: string;
  //   rating: string;
  //   review: string;
  // }> = [];

  // geolocate(): void {
  //   navigator.geolocation.getCurrentPosition((position) => {
  //     const currentPosition = position;
  //   });
  // }

  get loadingState(): boolean {
    return this.$store.state.loadingState;
  }

  get hasReviews(): boolean {
    return this.$store.state.producer.reviews?.length > 0 ? true : false;
  }

  get reviews(): unknown {
    return this.$store.state.producer.reviews;
  }

  addMarker(): void {
    this.center = {
      lat: Number(this.producer.lat),
      lng: Number(this.producer.lng),
    };
    console.log(this.center);
    const marker: { lat: number; lng: number } = {
      lat: Number(this.producer.lat),
      lng: Number(this.producer.lng),
    };
    this.markers.push({ position: marker });
  }

  created(): void {
    // TODO: Look at way of making request of singleton rather than doing a find.
    this.$store
      .dispatch("getCompanyById", { id: this.$route.params.id })
      .then((data) => {
        this.producer = data;
        this.truncatedDescription =
          this.producer.description.substr(0, 90) + "...";
        this.addMarker();
        this.$store.commit("LOADING_STATE", false);
      })
      // .then(() => {
      //   this.$store.dispatch("getReviews").then((data) => {
      //     this.reviews = data.reviews.filter(
      //       (x: { companyName: string }) =>
      //         x.companyName === this.producer.companyName
      //     );
      //   });
      // })
      .catch((err) => {
        // TODO: need to look how to do redirect if nothing found
        console.error(err);
        if (err.status === 200) {
          alert("error");
        }
        this.$router.push({ path: "/" });
      });
  }
}
</script>
