<template>
  <!-- <v-container> -->
  <!-- <v-row> -->
  <!-- <v-col cols="12"> -->
  <v-banner color="primary" elevation="5" outlined rounded>
    <h3>Customer Reviews</h3>
    <div class="review-stats__overview mt-4 mb-4">
      <h2>{{ ratingAverage }} / 5</h2>
      <v-rating
        class="ml-4"
        empty-icon="mdi-star-outline"
        full-icon="mdi-star"
        half-icon="mdi-star-half-full"
        hover
        readonly
        length="5"
        size="20"
        v-model="ratingAverage"
      ></v-rating>
      <span class="ml-4">{{ totalNumberOfReviews }} reviews </span>
    </div>
    <div
      class="review-stats__linear"
      v-for="(item, index) in reviewMetrics"
      :key="index"
    >
      <span class="mr-4 star-icon caption"
        >{{ item.id
        }}<v-icon class="ml-1 caption" small color="blue"
          >mdi-star</v-icon
        ></span
      >
      <v-progress-linear
        :value="item.ratingPerc"
        :color="item.color"
        class="mt-4 mb-4"
      ></v-progress-linear>
      <span class="ml-4 font-weight-bold caption">{{ item.ratingPerc }}%</span>
      <span class="ml-4 caption">{{ item.total }}</span>
    </div>
  </v-banner>
  <!-- </v-col> -->
  <!-- </v-row> -->
  <!-- </v-container> -->
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";

@Component({})
export default class ReviewStats extends Vue {
  @Prop()
  reviews:
    | Array<{
        companyName: string;
        author: string;
        rating: number;
        review: string;
        date: string;
      }>
    | undefined;

  rating = 0;

  @Watch("reviews")
  getReviews(): void {
    console.log(this.reviews, "==================");
  }

  get ratingAverage(): number {
    let rating = 0;
    if (this.reviews) {
      for (const review of this.reviews) {
        rating += review?.rating;
      }
    }
    return Math.round((rating / this.totalNumberOfReviews) * 10) / 10;
  }

  get reviewMetrics(): Array<{
    id: number;
    ratingPerc: number;
    color: string;
    total: number;
  }> {
    const fiveStar: Array<{ rating: number }> = [];
    const fourStar: Array<{ rating: number }> = [];
    const threeStar: Array<{ rating: number }> = [];
    const twoStar: Array<{ rating: number }> = [];
    const oneStar: Array<{ rating: number }> = [];
    const star: Array<{ rating: number }> = [];
    if (this.reviews) {
      this.reviews.forEach((element) => {
        if (element.rating === 5) {
          fiveStar.push({
            rating: element.rating,
          });
        }
        if (element.rating === 4) {
          fourStar.push({
            rating: element.rating,
          });
        }
        if (element.rating === 3) {
          threeStar.push({
            rating: element.rating,
          });
        }
        if (element.rating === 2) {
          twoStar.push({
            rating: element.rating,
          });
        }
        if (element.rating === 1) {
          oneStar.push({
            rating: element.rating,
          });
        }
        if (element.rating === 0) {
          star.push({
            rating: element.rating,
          });
        }
      });
    }

    return [
      {
        id: 5,
        ratingPerc: Math.round(
          (fiveStar.length / this.totalNumberOfReviews) * 100
        ),
        color: `blue`,
        total: fiveStar.length,
      },
      {
        id: 4,
        ratingPerc: Math.round(
          (fourStar.length / this.totalNumberOfReviews) * 100
        ),
        color: `blue lighten-1`,
        total: fourStar.length,
      },
      {
        id: 3,
        ratingPerc: Math.round(
          (threeStar.length / this.totalNumberOfReviews) * 100
        ),
        color: `blue lighten-2`,
        total: threeStar.length,
      },
      {
        id: 2,
        ratingPerc: Math.round(
          (twoStar.length / this.totalNumberOfReviews) * 100
        ),
        color: `blue lighten-3`,
        total: twoStar.length,
      },
      {
        id: 1,
        ratingPerc: Math.round(
          (oneStar.length / this.totalNumberOfReviews) * 100
        ),
        color: "blue lighten-4",
        total: oneStar.length,
      },
    ];
  }

  get totalNumberOfReviews(): number {
    return this.reviews ? this.reviews.length : 0;
  }
}
</script>
<style lang="scss">
.review-stats {
  &__overview {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__linear {
    display: flex;
    flex-direction: row;
    align-items: center;

    .star-icon {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}
</style>
