<template>
  <div class="c-dashboard-tabs">
    <v-tabs
      class="mb-6"
      v-model="tab"
      color="rgba(0, 0, 0, 0.5)"
      background-color="#fff"
    >
      <v-tab v-for="item in tabs" :key="item.tab">
        {{ item.tab }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <template v-for="item in tabs">
        <v-tab-item :key="item.tab">
          <v-card flat>
            <v-card-text>
              <company-info
                :companyInfo="companyInfo"
                v-if="item.content === 'info'"
              />
              <company-social
                :companyInfo="companyInfo"
                v-if="item.content === 'social'"
              />
              <company-settings
                :companyInfo="companyInfo"
                v-if="item.content === 'settings'"
              />
              <user-info v-if="item.content === 'user-info'" />
              <user-item-upload v-if="item.content === 'share'" />
              <user-item-list v-if="item.content === 'sharing'" />
            </v-card-text>
          </v-card>
        </v-tab-item>
      </template>
    </v-tabs-items>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import CompanyInfo from "@/components/company/company-info.vue";
import CompanySocial from "@/components/company/company-social.vue";
import CompanySettings from "@/components/company/company-settings.vue";
import UserInfo from "@/components/user/user-info.vue";
import UserItemUpload from "@/components/user/user-item-upload.vue";
import UserItemList from "@/components/user/user-item-list.vue";

@Component({
  components: {
    CompanyInfo,
    CompanySocial,
    CompanySettings,
    UserInfo,
    UserItemUpload,
    UserItemList,
  },
})
export default class DashboardTabs extends Vue {
  tab = null;
  @Prop() tabs;

  get companyInfo(): {
    description: string;
    companyName: string;
    category: string;
    postcode: string;
    county: string;
    type: string;
    lat: string;
    lng: string;
    id: string;
    hasShop: boolean;
    organic: boolean;
    tags: string[];
    membership: boolean;
  } {
    const companyInfo = {
      description: "",
      companyName: "",
      category: "",
      postcode: "",
      county: "",
      type: "",
      lat: "",
      lng: "",
      id: "",
      hasShop: false,
      organic: false,
      tags: [""],
      membership: false,
    };
    return this.$store.state.producer
      ? this.$store.state.producer
      : companyInfo;
  }
}
</script>
<style lang="scss" scoped></style>
