<template>
  <v-container>
    <h1>There a no items</h1>
  </v-container>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component({})
export default class EmptyState extends Vue {
  //   @Prop({ default: null }) arrayOfItems: Array<unknown>;
}
</script>
