<template>
  <v-banner v-if="reviews" color="primary" elevation="5" outlined rounded>
    <v-list v-for="(review, index) in reviews" :key="index">
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title
            >{{ review.author }} - {{ review.rating }}/5</v-list-item-title
          >
          <v-list-item-subtitle>
            {{ review.date }}
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            {{ review.review }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-banner>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class AllReviews extends Vue {
  @Prop() reviews:
    | Array<{
        companyName: string;
        author: string;
        rating: number;
        review: string;
        date: string;
      }>
    | undefined;

}
</script>
