<template>
  <div class="filter__container">
    <div class="filter__items d-flex py-2 flex-row align-center">
      <v-text-field
        class="producer-search mr-2"
        type="text"
        label="Search by producer or company name"
        prepend-icon="mdi-magnify"
        v-model="search"
        @input="findByTextSearch"
      />
      <v-text-field
        type="text"
        v-model="postcode"
        label="Search by postcode"
        pattern="[a-zA-Z0-9 ]+"
        @input="findByPostcode"
        v-if="usePostcode"
        class="mr-2"
      />
      <v-select
        class="type-dropdown mr-2"
        v-model="produceTypes"
        :items="types"
        item-text="text"
        item-value="value"
        return-object
        label="Select type of produce"
        @change="findByProduce"
      ></v-select>
      <v-btn
        color="#e3ae51"
        class="mt-4 mb-4 ml-4 black--text"
        @click="clearAllFilters"
        >Clear Filters</v-btn
      >
    </div>
    <div class="filter__checkbox--wrapper" v-if="selected">
      <!-- v-model="selected" -->
      <v-checkbox
        v-for="(type, index) in categories"
        :key="index"
        :label="type.text"
        :value="type"
        multiple
        @change="findByCategory($event, index)"
      ></v-checkbox>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class extends Vue {
  search = "";
  postcode = "";
  produceTypes = "";
  @Prop({ default: false, type: Boolean })
  usePostcode;
  @Prop()
  types;
  @Prop() selected;
  @Prop() categories;

  findByTextSearch(): void {
    this.$emit("searchByText", this.search);
  }

  findByPostcode(): void {
    this.$emit("searchByPostcode", this.postcode);
  }

  findByProduce(): void {
    this.$emit("searchByProduce", this.produceTypes);
  }

  clearAllFilters(): void {
    this.search = "";
    this.postcode = "";
    this.produceTypes = "";
    this.$emit("reset");
  }
}
</script>
<style lang="scss">
.filter {
  &__checkbox {
    &--wrapper {
      display: flex;
      flex-direction: row;
    }
    &--item {
      text-transform: capitalize;
      .v-input--checkbox {
        min-width: 150px;
      }
      .v-input--selection-controls {
        margin-top: 0;
      }
    }
  }
}
</style>
