<template>
  <div class="container">
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <div class="c-container pa-4 my-4">
      <form @submit.prevent v-if="!loadingState">
        <h1 class="pb-4">Forgot Password</h1>
        <v-alert
          v-if="this.error"
          border="right"
          colored-border
          type="error"
          elevation="2"
        >
          {{ this.error }}
        </v-alert>
        <label for="email">Email</label>
        <v-text-field
          id="email"
          type="email"
          class="form-control"
          name="email"
          value
          required
          autofocus
          v-model="email"
        />
        <v-btn class="btn" type="submit" @click="sendEmail">
          <span v-if="!emailSending">Send</span>
          <span v-else>Sending...</span>
        </v-btn>
      </form>
    </div>
  </div>
</template>
<script lang="ts">
import firebase from "firebase";
import { Vue, Component } from "vue-property-decorator";

@Component({
  metaInfo: {
    // title will be injected into parent titleTemplate
    title: "Lovely Larder - Forgot password",
    meta: [
      {
        name: "description",
        vmid: "description",
        content: "Reset your password for your Lovely Larder account",
      },
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      },
    ],
  },
})
export default class extends Vue {
  email = "";
  error = "";
  emailSending = false;
  /**
   * Props
   **/
  /**
   * Data
   **/
  /**
   * Computed Properties
   **/
  get loadingState(): boolean {
    return this.$store.state.loadingState;
  }
  // store state and getters
  // other computed properties
  /**
   * Methods
   **/
  // store mutations and actions
  // other methods
  // lifecycle methods
  sendEmail(): void {
    if (!this.email) {
      this.error = "Please type in a valid email address.";
      return;
    }
    this.error = "";
    this.emailSending = true;
    this.$store.commit("LOADING_STATE", true);
    firebase
      .auth()
      .sendPasswordResetEmail(this.email)
      .then(() => {
        this.emailSending = false;
        this.$store.commit("LOADING_STATE", false);
      })
      .catch((error) => {
        this.emailSending = false;
        this.$store.commit("LOADING_STATE", false);
        this.error = error.message;
      });
  }
}
</script>
<style lang="scss" scoped></style>
