<template>
  <div class="container">
    <div class="text-center spinner" v-if="loadingState">
      <v-progress-circular
        :size="80"
        color="#524064"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-alert
      v-if="loadingState && error"
      border="right"
      colored-border
      type="error"
      elevation="2"
      >{{ error }}</v-alert
    >
    <form
      class="c-container pa-4 my-4"
      v-if="!loadingState"
      action="#"
      @submit.prevent="submit"
    >
      <h1 class="pb-4">Login</h1>
      <v-alert
        v-if="this.error"
        border="right"
        colored-border
        type="error"
        elevation="2"
      >
        {{ this.error }}
      </v-alert>
      <div>
        <label for="email">Email</label>
        <div>
          <v-text-field
            id="email"
            type="email"
            class="form-control"
            name="email"
            dense
            color="#524064"
            value
            required
            autofocus
            v-model="form.email"
          />
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <div>
          <v-text-field
            id="password"
            type="password"
            class="form-control"
            name="password"
            dense
            color="#524064"
            required
            v-model="form.password"
          />
        </div>
      </div>
      <div class="c-login__button-wrapper">
        <v-btn class="btn" type="submit">Login</v-btn>
        <v-btn class="btn ml-4" @click="goToForgotPassword"
          >Forgot password</v-btn
        >
      </div>
    </form>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import firebase from "firebase";

@Component({
  metaInfo: {
    title: "Lovely Larder - Login",
    meta: [
      {
        name: "description",
        vmid: "description",
        content:
          "Login to your Lovely Larder account to update your profile and help promote your produce",
      },
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      },
    ],
  },
})
export default class Register extends Vue {
  error = null;
  form = {
    name: "",
    email: "",
    password: "",
  };

  get loadingState(): boolean {
    return this.$store.state.loadingState;
  }

  goToForgotPassword(): void {
    this.$router.push("/forgot-password");
  }

  submit(): void {
    this.$store.commit("LOADING_STATE", true);
    const auth = firebase.auth();
    auth
      .signInWithEmailAndPassword(this.form.email, this.form.password)
      .then(() => {
        this.$store.dispatch("getUser", this.form.email);
        // Company name will be set in state
        // Pass company name to getCompanyName to see if company exists
        // if company exists ie if data then set state producer exists to true finally go to dashboard.
      })
      .catch((err) => {
        if (err) {
          this.error = err.message;
          setTimeout(() => {
            this.$store.commit("LOADING_STATE", false);
            // this.$router.push("/login");
            this.error = null;
          }, 3000);
        }
      });
  }
}
</script>
<style lang="scss">
.c-login {
  &__button-wrapper {
    align-items: center;
    display: flex;
  }
}
</style>
