<template>
  <div class="container c-container pa-4 my-4">
    <h1 class="pb-4">Sign Up</h1>
    <v-alert
      v-if="this.error"
      border="right"
      colored-border
      type="error"
      elevation="2"
    >
      {{ this.error }}
    </v-alert>

    <template v-if="showForm === false">
      <div>
        <h2>Are signing up as a business or an individual?</h2>
        <div class="c-register__button-wrapper mt-4">
          <v-btn
            class="btn mr-4"
            :class="{ 'btn-white': individual }"
            @click="
              individual = !individual;
              showForm = true;
            "
            >Individual</v-btn
          >
          <v-btn
            class="btn"
            @click="
              business = !business;
              showForm = true;
            "
            >Business</v-btn
          >
        </div>
      </div>
    </template>
    <!-- v-if="business" -->
    <form action="#" v-if="showForm" @submit.prevent="submit">
      <p v-if="business">Please in the form to create your company's profile</p>
      <p v-if="individual">
        Please fill in the form to create your personal profile.
      </p>
      <div>
        <label for="name">Name</label>
        <v-text-field
          id="name"
          type="name"
          name="name"
          value
          required
          dense
          color="#524064"
          autofocus
          v-model="form.name"
        />

        <div>
          <label for="surname">Surname</label>
          <v-text-field
            id="surname"
            type="surname"
            name="surname"
            value
            dense
            color="#524064"
            required
            autofocus
            v-model="form.surname"
          />
        </div>

        <div v-if="business">
          <label for="companyName">Company name</label>
          <v-text-field
            id="companyName"
            type="companyName"
            name="companyName"
            value
            dense
            color="#524064"
            required
            autofocus
            v-model="form.companyName"
          />
        </div>

        <div>
          <label for="email">Email</label>
          <v-text-field
            id="email"
            type="email"
            class="form-control"
            name="email"
            dense
            color="#524064"
            value
            required
            v-model="form.email"
          />
        </div>

        <div>
          <label for="password">Password</label>
          <v-text-field
            id="password"
            type="password"
            class="form-control"
            name="password"
            dense
            color="#524064"
            required
            v-model="form.password"
          />
        </div>
      </div>
    </form>
    <!-- <form action="#" v-if="individual" @submit.prevent="submit">
      <p>Please fill in the form to create your personal profile.</p>
      <div>
        <label for="name">Name</label>
        <v-text-field
          dense
          id="name"
          type="name"
          name="name"
          value
          color="#524064"
          required
          autofocus
        ></v-text-field>
        <label for="lastName">Surname</label>
        <v-text-field
          dense
          id="lastName"
          type="lastName"
          name="lastName"
          value
          color="#524064"
          required
          autofocus
        ></v-text-field>
        <label for="email">Email</label>
        <v-text-field
          dense
          id="email"
          type="email"
          name="email"
          value
          color="#524064"
          required
          autofocus
        ></v-text-field>
        <label for="password">Password</label>
        <v-text-field
          dense
          id="password"
          type="password"
          name="password"
          value
          color="#524064"
          required
          autofocus
        ></v-text-field>
      </div>
      <v-btn class="btn">Sign Up</v-btn> -->
    <!-- </form> -->
    <v-btn v-if="showForm" type="submit" class="btn btn-primary" @click="submit"
      >Sign Up</v-btn
    >
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
// import { Action, Mutation, Getter, State, modules } from "@store/index";

import firebase from "firebase";
@Component({
  metaInfo: {
    title: "Lovely Larder - Register",
    meta: [
      {
        name: "description",
        vmid: "description",
        content:
          "Register to promote your amazing produce through Lovely Larder",
      },
      {
        name: "keywords",
        content:
          "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, fresh, west berkshire, berkshire, oxfordshire",
      },
    ],
  },
})

// User flow
// if user is business => need companyName and set a value in db to business is true???
// if user is individual => need to create an object to save

// if you're a business tick a box in settings to agree to share some stuff

// if you're an individual need to look at creating a whole new list of tabs and forms
export default class Register extends Vue {
  error = null;
  business = false;
  individual = false;
  showForm = false;
  form = {
    name: "",
    surname: "",
    email: "",
    password: "",
    companyName: "",
    userType: "",
  };

  createUser(userUid: string): void {
    // this.$store.commit("LOADING_STATE", true);
    const userToCreate = {
      userUid: userUid,
      firstName: this.form.name,
      lastName: this.form.surname,
      email: this.form.email,
      userType: this.form.companyName ? "business" : "individual",
      companyName: this.form.companyName ? this.form.companyName : "",
    };
    this.$store
      .dispatch("createUser", userToCreate)
      .then(
        (user) => {
          console.log(user);
        }
        // this.form.companyName
        //   ? this.$store.dispatch("createCompany", this.form.companyName)
        //   : null
      )
      .then(() => this.$store.dispatch("getUser", this.form.email))
      .then(() => {
        this.$router.push("/login");
      });
  }

  submit(): void {
    // TODO
    // store user type in store and db
    // this.createUser();
    firebase
      .auth()
      .createUserWithEmailAndPassword(this.form.email, this.form.password)
      .then((user) => {
        user.sendEmailVerification();
        return user;
      })
      .then((data) => {
        this.createUser(data.uid);
        // TODO: UPDATE DISPLAY NAME
        // if (data.user) {
        //   data.user
        //     .updateProfile({
        //       displayName: this.form.name,
        //     })
        //     .then(() => {
        //       console.log("User registered");
        //     });
        // }
      })
      .catch((err) => {
        this.error = err.message;
      });
  }
}
</script>
<style lang="scss" scoped>
.c-register {
  &__button-wrapper {
    display: flex;
  }
}
</style>
