<template>
  <div>
    <v-app class="c-app">
      <v-navigation-drawer
        absolute
        temporary
        v-model="drawer"
        class="c-menu__mobile"
      >
        <h1 class="fell-text logo ma-4" @click="goTo">LOVELY LARDER</h1>
        <ul class="c-menu__mobile--list mx-4 pl-0">
          <router-link
            tag="li"
            class="col c-menu__mobile--item px-0"
            to="/"
            exact
            >Home</router-link
          >
          <router-link
            class="c-menu__mobile--item col px-0"
            tag="li"
            to="/share"
            exact
            >Waste Not</router-link
          >
          <router-link
            tag="li"
            class="col c-menu__mobile--item px-0"
            to="/about"
            exact
            >About</router-link
          >
        </ul>
        <div class="button-wrapper mx-4 flex-column d-flex">
          <router-link v-if="user.loggedIn" tag="div" to="/dashboard" exact>
            <v-icon>mdi-account</v-icon></router-link
          >
          <router-link tag="div" v-if="user.loggedIn" to="/notifications"
            ><span class="mr-2" tag="li" v-if="unreadNotifications > 0">{{
              unreadNotifications
            }}</span
            ><v-icon>mdi-email</v-icon></router-link
          >
          <v-btn class="btn mt-4" v-if="user.loggedIn" @click="signOut"
            >Sign out</v-btn
          >
          <v-btn class="btn mt-2" v-if="!user.loggedIn" @click="login"
            >Login</v-btn
          >
          <v-btn class="btn mt-2" v-if="!user.loggedIn" @click="register"
            >Sign Up</v-btn
          >
        </div>
      </v-navigation-drawer>
      <nav class="d-flex c-menu main-color">
        <v-icon
          class="c-menu__mobile--open"
          color="#000"
          dark
          @click.stop="drawer = !drawer"
        >
          mdi-menu
        </v-icon>
        <!-- <menu-item /> -->
        <div class="c-menu__wrapper">
          <div class="c-menu__logo d-flex align-center">
            <h1 class="fell-text logo" @click="goTo">LOVELY LARDER</h1>
            <!-- <h2
                class="pl-sm-4 logo__subtitle"
                v-if="this.$route.path === '/'"
              >
                Discover local produce
              </h2>
              <h2
                class="pl-sm-4 logo__subtitle"
                v-if="this.$route.path === '/share'"
              >
                Share local food
              </h2> -->
            <h2 class="pl-sm-4 logo__subtitle">
              Share and discover local food
            </h2>
          </div>
          <ul class="c-menu__items pl-0 ml-8">
            <router-link tag="li" class="col c-menu__item px-0" to="/" exact
              >Home</router-link
            >
            <router-link
              class="c-menu__item col px-0"
              tag="li"
              to="/share"
              exact
              >Waste Not</router-link
            >
            <router-link
              tag="li"
              class="col c-menu__item px-0"
              to="/about"
              exact
              >About</router-link
            >
          </ul>
        </div>
        <div class="button-wrapper d-flex">
          <router-link
            class="ma-2"
            v-if="user.loggedIn"
            tag="div"
            to="/dashboard"
            exact
          >
            <v-icon>mdi-account</v-icon></router-link
          >
          <router-link
            tag="div"
            class="ma-2"
            v-if="user.loggedIn"
            to="/notifications"
            ><span class="mr-2" tag="li" v-if="unreadNotifications > 0">{{
              unreadNotifications
            }}</span
            ><v-icon>mdi-email</v-icon></router-link
          >
          <v-btn class="mr-2 ml-2 btn" v-if="user.loggedIn" @click="signOut"
            >Sign out</v-btn
          >
          <v-btn class="mr-2 btn" v-if="!user.loggedIn" @click="login"
            >Login</v-btn
          >
          <v-btn class="btn" v-if="!user.loggedIn" @click="register"
            >Sign Up</v-btn
          >
        </div>
      </nav>
      <!-- <menu-item /> -->
      <v-main>
        <router-view />
        <div class="cookie-bar" v-if="showCookieBar">
          We use cookies to ensure that we give you the best experience on our
          website -
          <router-link
            class="text-decoration-none white--text font-weight-bold"
            to="/privacy-policy"
            >learn more here</router-link
          >
          <v-icon color="white" small class="ml-4" @click="closeCookie"
            >mdi-close</v-icon
          >
        </div>
      </v-main>
    </v-app>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import MenuItem from "@/components/menu/menu-items.vue";
import firebase from "firebase";
import GmapCluster from "vue2-google-maps/dist/components/cluster";
import { mapGetters } from "vuex";
import localizedFormat from "dayjs/plugin/localizedFormat";
import dayjs from "dayjs";
dayjs.extend(localizedFormat);

// TODO
// Login => are you a producer or an individual
@Component({
  components: { MenuItem, GmapCluster },
  computed: mapGetters({ user: "user" }),
  metaInfo: {
    title: "Lovely Larder",
    meta: [
      { name: "robots", content: "index,follow" },
      // {
      //   name: "keywords",
      //   content:
      //     "organic, fresh produce, local, locally grown, vegetables, fruit, deli, delicatessen, beef, lamb, chicken, pork, meat, recipes, west berkshire, berkshire, oxfordshire",
      // },
      // {
      //   vmid: "description",
      //   name: "description",
      //   content:
      //     "Lovely larder can help you find the freshest, locally grown and reared produce close to you",
      // },
    ],
  },
})
export default class App extends Vue {
  loadedProducer = null;
  showCookieBar = false;
  drawer = false;
  goTo(): void {
    this.$router.push("/");
  }

  get cookieBeenSeen(): boolean {
    return localStorage.getItem("cookieNotificationHasBeenSeen") === "true";
  }

  get actualRoute(): string {
    if (this.$route.path === "/") {
      return "home";
    } else if (this.$route.path === "/share") {
      return "share";
    } else {
      return this.$route.path;
    }
  }

  get unreadNotifications(): number {
    return this.$store.state.notifications
      ?.map((item: any) => item.messages.map((message) => message))
      .flat()
      .filter(
        (item) =>
          item.read === false &&
          item.sender.id !== this.$store.state.userInfo.id
      ).length;
  }

  login(): void {
    this.$router.push("/login");
  }

  register(): void {
    this.$router.push("/register");
  }

  signOut(): void {
    firebase.auth().signOut();
    this.$store.commit("SET_PRODUCER", {
      alertMessage: false,
      loadingState: false,
      companyName: "",
      description: "",
      postcode: "",
      type: "",
      category: "",
      county: "",
      icon: "",
      lat: "",
      lng: "",
      logo: "",
      email: "",
      website: "",
      facebook: "",
      twitter: "",
      instagram: "",
      membership: false,
      shopOnline: false,
      hasShop: false,
      organic: false,
      image: "",
      tags: null,
    });
    this.$store.commit("SET_USER_INFO", {});
    this.$store.commit("SET_USER", { loggedIn: false, data: null });
    this.$store.commit("SET_LOGGED_IN", false);
    this.$store.commit("LOADING_STATE", false);
    this.$store.commit("SET_NOTIFICATIONS", []);
    // this.$store.commit("SET_GROUPED_NOTIFICATIONS", []);
    if (this.$route.path !== "/") {
      this.$router.push("/");
    }
  }

  seeMessages(): void {
    this.$router.push("/notifications");
  }

  closeCookie(): void {
    this.showCookieBar = false;
  }

  mounted(): void {
    if (this.cookieBeenSeen) {
      this.showCookieBar = false;
    } else {
      setTimeout(() => {
        this.showCookieBar = true;
      }, 2000);
    }
    localStorage.setItem("cookieNotificationHasBeenSeen", JSON.parse("true"));
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.$store.dispatch("fetchUser", user).then(() => {
          console.log(user);
          this.$store.dispatch("getUser", user.email).then((data) => {
            this.$store.dispatch("getMessagesByUserId", data.id);
          });

          if (this.$store.state.userInfo?.userType === "business") {
            // check if user has entered companyName
            // if no companyName go straight to dashboard set membership to false if not already
            if (this.$store.state.userInfo?.company?.id) {
              this.$store
                .dispatch("getCompanyById", {
                  id: this.$store.state.userInfo?.company.id,
                })
                .then((producer) => {
                  this.$store.commit("SET_PRODUCER", producer);
                  this.$store.commit("LOADING_STATE", false);
                  // this.$store.state.producer.companyName = this.$store.state.userInfo.companyName;
                  this.loadedProducer = this.$store.state.producer;
                });
            } else {
              this.$store.state.producer.companyName =
                this.$store.state.userInfo.companyName;
              this.$store.dispatch("createCompany", this.$store.state.producer);
            }
          }
          // this.$router.push("/");
        });
      }
    });
  }
}
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Source+Sans+Pro:wght@300&display=swap");

.v-main {
  background-color: #e5efe8;
}

.v-app-bar {
  height: 64px !important;
}

.v-toolbar__content {
  height: 64px !important;
}

.c-app {
  font-family: "Source Sans Pro", sans-serif;
}

.logo {
  font-size: 20px;

  &__subtitle {
    font-size: 17px;
  }
}

.fell-text {
  font-family: "IM Fell English", serif;
}

.main-color {
  color: #484848 !important;
}

.btn {
  background-color: #524064 !important;
  color: #fff !important;
}

.btn-white {
  color: #524064 !important;
  background-color: #fff !important;
}

// need to look at why we have to target like this
.v-icon.c-menu__mobile--open {
  display: none;
}

.v-overlay {
  display: none;
}

.c-menu {
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 16px;
  &__mobile {
    display: none;
  }

  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-width: 30%;
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    display: inline;
    float: left;
    min-width: 100px;
    text-align: center;
    margin-bottom: -3px;
    text-transform: uppercase;

    &.router-link-active {
      font-weight: bold;
      position: relative;
      // width: 100px;

      &:before {
        content: "";
        position: absolute;
        width: 70%;
        height: 4px;
        bottom: -8px;
        left: 15%;
        background-color: #524064;
      }
    }
  }
}

.button-wrapper * {
  cursor: pointer;
}

@media only screen and (max-width: 970px) {
  .logo__subtitle {
    display: none;
  }
}
@media only screen and (max-width: 730px) {
  .v-icon.c-menu__mobile--open {
    display: block;
  }
  .v-overlay {
    display: block;
  }
  .c-menu {
    justify-content: flex-start;

    &__items {
      display: none;
    }

    &__wrapper {
      margin-left: 24px;
    }

    &__mobile {
      display: block;
      &--list {
        list-style: none;
      }
    }

    .button-wrapper {
      display: none !important;
    }
  }
}

.cookie-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background: #524064;
  opacity: 0.9;
  color: #fff;
  z-index: 1000000100;
  left: 0;
  bottom: 0;
}
</style>
