<template>
  <div class="container">
    <p>{{ membershipSelected }} - membership to charge at checkout</p>
    <p>Test card = 4000058260000005</p>
    <stripe-element-card
      ref="elementRef"
      :pk="publishableKey"
      @token="tokenCreated"
    />
    <v-btn class="btn mt-2" @click="submit">Subscribe</v-btn>
  </div>
</template>
<script lang="ts">
import firebase from "firebase/app";
import "firebase/firestore";

interface stripeObject {
  amount: null;
  source: "";
  email: "";
  name: "";
  billing_details: {
    email: "";
    name: "";
  };
}

import Component from "vue-class-component";
import { StripeElementCard } from "@vue-stripe/vue-stripe";
import { Prop, Vue } from "vue-property-decorator";

@Component({
  components: { StripeElementCard },
})
export default class Checkout extends Vue {
  publishableKey = process.env.VUE_APP_ENV_STRIPE_PUBLISHABLE_KEY;
  stripe: any | null = null;

  // @Prop() companyInfo;
  @Prop() membershipSelected;

  get companyInfo(): any {
    return this.$store.state.producer;
  }

  submit(): void {
    // this will trigger the process
    (this.$refs.elementRef as any).submit();
  }

  tokenCreated(token): void {
    // handle the token
    const stripeObject = {
      amount: this.membershipSelected.price,
      source: token,
      email: this.companyInfo.email,
      name: this.companyInfo.companyName,
      billing_details: {
        email: this.companyInfo.email,
        name: this.companyInfo.companyName,
      },
    };
    this.saveDataToFirebase(stripeObject);
    // send it to server and save in db
  }

  saveDataToFirebase(stripeObject: stripeObject): void {
    this.$store.commit("LOADING_STATE", true);
    const db = firebase.firestore();
    const chargesRef = db.collection("charges");
    const pushId = chargesRef.doc().id;
    db.collection("charges").doc(pushId).set(stripeObject);
    chargesRef.doc(pushId).onSnapshot((snapShot) => {
      const charge = snapShot.data();
      if (charge.error) {
        alert(charge.error);
        chargesRef.doc(pushId).delete();
        return;
      }
      if (charge.status && charge.status == "succeeded") {
        this.companyInfo.id = this.$store.state.userInfo.company.id;
        this.companyInfo.companyName = this.$store.state.userInfo.companyName;
        this.companyInfo.membership = true;

        // todo if refresh on payment take back to home page and log out;
        this.$store.dispatch("updateCompany", this.companyInfo).then(() => {
          // TODO: Add payment success message or design
          // this.$store.commit("LOADING_STATE", false);
          this.$router.push("/dashboard");
        });
      }
    });
  }
}
</script>
